@charset "utf-8";
/* CSS Document */
.contern{
	margin:15px 0px;
	background:#f7f7f8;
	padding-right:150px;
}
.layui-form-label {
    float: left;
    display: block;
    padding: 9px 15px;
    width: 120px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    color:#9fa0a0;
}
h1 {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #003e8d;
    font-size: 21px;
    text-align:right;
    width:120px;
}
.layui-input-block {
    margin-left: 140px;
    min-height: 36px;
}
.layui-table-body {
    height: auto !important;
}
/****多选样式*****/
input[type='checkbox']:checked{
	border: 1px solid #2162b6;
   background: url("../image/icon_checkbox.png")no-repeat center;
}
/**创新能力样式**/
.createbox{
	margin: 10px;
    margin-left: 50px;
}
.createlabel{
	float:none;
	display:inline-block;
	width:auto;
}
.cretables{
    border: 1px solid #ccc;
    background:#fff;
}
.cretables th{
    text-align: center;
}
.creatd{
    margin:0px;
}
.createblock{
	margin-left:0px;
	width:auto;
	display:inline-block;
}
.itemadd{
	margin-bottom:5px;
}
.mumberBox{
	margin-bottom:15px;
}
.mumber{
	float:none;
	display:inline-block;
	width:150px;
}
#addmumber {
    margin-right: 15px;
    float: right;
    position: absolute;
    top: 370px;
    right: 165px;
    z-index: 1000;
}
/*弹窗*/
.wid60{
	width:60px;
}
.wid80{
	margin-left:80px;
}
/*变更记录*/
.layuichange{
	padding-left:50px;
	padding-right:10px;
	padding-bottom:20px;
}