@charset "UTF-8";
body,html,div,li,ul,dt,dd{
	margin:0px;
	padding:0px;
	border:none;
}
.sciencebody{
	width: 100%;
    min-width: 1200px;
    height: 100vh !important;
    background: #011039;
    background-image: url(../image/sciencebg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;	
}
.main{
	background-image: url(../image/science.png);
	width: 100%;
    min-width: 1200px;
    height: 100vh !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
}
.sciNav{
	margin-right:150px;
	margin-top:20px;
	float:right;
}
.pageTo {
    margin: 0px 10px;
    background-image: url(../image/pageto.png);
    height: 32px;
    width: 94px;
    color: #0f7ebc;
    font-size: 16px;
    display: inline-block;
    line-height: 28px;
    text-align:center;
}
.scititle{
	color:#3db4e3;
	font-size:60px;
	text-align:center;
}