@charset "utf-8";
/* CSS Document */
/*通用样式*/
html,body,div,ul,li{
	margin:0px;
	padding:0px;
	font-family: "Microsoft YaHei";
}
body{
	font-size:16px;
}
/*滚动条样式设置*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/ 
::-webkit-scrollbar 
{ 
    width: 10px; 
    height: 10px; 
    background-color: rgba(0,0,0,0.1); 
} 
   
/*定义滚动条轨道 内阴影+圆角*/ 
::-webkit-scrollbar-track 
{ 
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px; 
    background-color: rgba(0,0,0,0); 
} 
   
/*定义滑块 内阴影+圆角*/ 
::-webkit-scrollbar-thumb 
{ 
    border-radius: 10px; 
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: rgba(38,156,168,0.4); 
} 
::-webkit-scrollbar-thumb:hover { /* 鼠标移入滑块 */
          background: rgba(38,156,168,0.6);
      }

/*滚动条样式设置*/
a{text-decoration: none;}
a:hover{text-decoration:none;}
.left{
	float:left;
}
.right{
	float:right;
}
ul,li{
	list-style:none;
}
@keyframes first{
	0%{
		box-shadow:none;
		}
	50%{
		box-shadow:0 0 10px #0CC;
		}
	100%{
		box-shadow:none;
		}
	}
.activ{
	border:1px solid rgba(0,204,204,0.3);
	animation: first 3s infinite ease;
	}
/*登录页面*/
.loginBox{
	margin:0px auto;
	margin-top: 50px;
	width: 430px;
	vertical-align: bottom;
}

.loginbg{
	width:100%;
	min-width: 1220px;text-align: center;
}
.loginBox .admin{
	margin-top: 30px;
	width:380px;
	height: 40px;
	line-height: 40px;
	padding-left: 50px;
	border: 1px solid #9fa0a0;
	border-radius: 3px;
	font-size:16px;}
.loginBox .admincode{
	margin-top: 30px;
	width:214px;
	height: 40px;
	line-height: 40px;
	padding-left: 50px;
	border: 1px solid #9fa0a0;
	border-radius: 3px;
	font-size:16px;
}

#code{  
	font-family:Arial;  
	font-style:italic;  
	font-weight:bold;  
	border:0;  
	letter-spacing:2px;  
	color:blue;
	outline: none;
	background: #003e8d;
	color: #fff;
	height:44px;
	width: 80px;
	line-height: 44px;
	border-radius: 3px;
	vertical-align: bottom;
}	
.change{
	cursor:pointer;
}
.label{
	background: #003e8d;
    height: 43px;
    width: 43px;
    border-radius: 3px;
    position: absolute;
    margin-top: 31px;
	line-height:43px;
	text-align: center;
}
.label2{
    height: 43px;
    width: 43px;
    border-radius: 3px;
    position: absolute;
    margin-top: 31px;
	line-height:43px;
	text-align: center;
}
.labelimg{
	margin-top: 8px;
	height:23px;
	width: 23px;
}
.btnlog{
	margin-top: 50px;
	width:100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #003e8d;
	border-radius: 3px;
	font-size:28px;
	color: #ffffff;
	border: none;
}
/*导航界面*/
.navbody{
	width: 100%;
	min-width: 1200px;
	height: 100vh;
	background: #011039;
	background-image:url(../image/navbg.jpg);
	background-size:100%;
	background-repeat:no-repeat;
}
.navbody .navbox{
	margin:0px auto;
	width:530px;
	height: 168px;
	text-align: center;
	background-image:url(../image/mark.png);
}
/*
@keyframes first{
	0%{
		box-shadow:none;
		}
	50%{
		box-shadow:0 0 30px #fff;
		}
	100%{
		box-shadow:none;
		}
	}
*/
.navbody .navbox:hover{
	margin:0px auto;
	background-image:url(../image/markA.png);
	}
.navbody .navbox .navtitle{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
}
.navbody .navbox .navcom{
	color:#fff;
	font-size:36px;
	line-height: 95px;
}
#time{
	position:absolute;
	right: 100px;
	top: 30px;
	color: #fff;
}
.back{
	position:absolute;
	right: 20px;
	bottom: 20px;
	color:#fff;
	text-align: center;
	font-size: 15px;
	opacity: 0.2;
}
.back:hover{
	position:absolute;
	right: 20px;
	bottom: 20px;
	color:#fff;
	text-align: center;
	font-size: 15px;
	opacity: 1;
}
/*人事可视化界面*/
#main{
	width: 100%;height:260px;
}
.mainbody{
	width: 1920px;
	height: 1080px;
	background: url(../image/personbg.jpg) 0% 0% / 100% 100% !important;
	transform: scale(1, 0.877778);
	overflow: hidden;
	position: relative;
	transform-origin: left top 0px;
}
.content{
	margin: 0px auto;
	width:99.5%;
	padding-top: 20px;
	-webkit-box-pack:justify;
	
}
.perhead{
	margin: 0px auto;
	padding: 10px 0px;
	text-align: center;
	background:rgba(0,0,0,0.4);
/*	border: 1px solid rgba(0,0,0,0.3);*/
}
.pertitle{
	margin: 0px auto;
	background-image: url(../image/pertitle.png);
	height: 78px;
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center;
}
.perNav{
	position:absolute;
	right: 120px;
	top: 45px;
}
.pageTo{
	margin: 0px 10px;
	background-image:url(../image/pageto.png);
	height: 32px;
	width:94px;
	color:#0f7ebc;
	font-size: 16px;
	display:inline-block;
	line-height: 28px;
}
.pageTo:hover{
	background-image:url(../image/pagetoA.png);}
.perctitle{
	padding: 0px 30px 0px 45px;
	height:42px;
	color:#fff;
	line-height: 42px;
	font-size: 18px;
	border-bottom:1px solid rgba(255,255,255,0.3);
}
.more{
	font-size:14px;
}
.pertitlespan{font-size:34px;color:#2ea7e0;line-height: 60px;}
.permain{
	margin-top:12px;
	border-radius:5px;
	height:45px;
	line-height: 45px;
	color: #fff;
	text-align:center;
	background: rgba(38,156,168,0.6);
}
.permain:hover{
	background:rgba(38,156,168,0.8)!important; 
}
.perinform{
	padding:10px 15px 15px 15px;
	height:432px !important;overflow:auto
}
.hei2{
	height:420px !important;overflow:auto
}
.inform{
	background: rgba(0,0,0,0.4);
	border-radius: 3px;
	margin-top:10px;}
.gradient{
	background: -webkit-linear-gradient(rgba(0,0,0,0.3), rgba(255,255,255,0.15)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0.3), rgba(255,255,255,0.15)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0.3), rgba(255,255,255,0.15)); /* Firefox 3.6 - 15 */
    background: linear-gradient(rgba(0,0,0,0.3), rgba(255,255,255,0.15)); /* 标准的语法（必须放在最后） */
}
#talents{
	padding-top: 45px;
	text-align: center;
}
/*高端人才显示设置*/
.talentNum{
	margin-top: -150px;
    /* margin-left: 200px; */
    margin-left: 218px;
	width: 110px;	
}
.talentNum li{
	width: 23px;
	background: #2574b7;
	color: #fff;
	font-size: 21px;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	border-radius: 2px;
}
/*********************************/
.btn{
	margin:20px;
}
.noExl{
	display:none;
}
.table2excel{
	overflow: auto;
/*	max-width: 90%;*/
}
#testTable{
	min-width: 100%;
}
#testTable tr th{
	padding: 5px 15px;
	white-space:nowrap;
}
#testTable tr td{
	padding: 5px 15px;
	white-space:nowrap;
	text-align: center;
}
/*******************************/
/*** 数据可视化根据屏幕相应 ***/
@media screen and (max-width: 1400px) {
	 *{
	 font-size:13px !important;}
	 .name{padding:0px !important;}
    }

@media screen and (max-width: 1300px){
	.loginBox{
	margin:0px auto;
	margin-top: 0px;
	width: 430px;
	vertical-align: bottom;
	}
	.label {
	    background: #003e8d;
	    height: 43px;
	    width: 43px;
	    border-radius: 3px;
	    position: absolute;
	    margin-top: 16px;
	    line-height: 43px;
	    text-align: center;
	}
	.loginBox .admin {
	    margin-top: 15px;
	    width: 380px;
	    height: 40px;
	    line-height: 40px;
	    padding-left: 50px;
	    border: 1px solid #9fa0a0;
	    border-radius: 3px;
	    font-size: 16px;
	}
	.loginBox .admincode {
	    margin-top: 15px;
	    width: 214px;
	    height: 40px;
	    line-height: 40px;
	    padding-left: 50px;
	    border: 1px solid #9fa0a0;
	    border-radius: 3px;
	    font-size: 16px;
	}
	.label2 {
	    height: 43px;
	    width: 43px;
	    border-radius: 3px;
	    position: absolute;
	    margin-top: 16px;
	    line-height: 43px;
	    text-align: center;
	}
	.btnlog {
	    margin-top: 20px;
	    width: 100%;
	    height: 40px;
	    text-align: center;
	    line-height: 40px;
	    background: #003e8d;
	    border-radius: 3px;
	    font-size: 28px;
	    color: #ffffff;
	    border: none;
	}
	/**************可视化界面***************/
	.perNav {
	    position: absolute;
	    right: 25px;
	    top: 45px;
	}
	.inform {
	    background: rgba(0,0,0,0.4);
	    border-radius: 10px;
	    margin-top: 10px;
	}
	.perctitle {
	    padding: 0px 15px 0px 20px;
	    height: 42px;
	    color: #fff;
	    line-height: 42px;
	    font-size: 18px;
	    border-bottom: 1px solid rgba(255,255,255,0.3);
	}
	.permain {
	    margin-top: 12px;
	    border-radius: 5px;
	    height: 30px;
	    line-height: 30px;
	    color: #fff;
	    text-align: center;
	    background: rgba(38,156,168,0.6);
	}
	.perinform {
	    padding: 8px;
	    height: 230px !important;
	    overflow: auto;
	}
	.rowbox{
		margin-right: 0px;
    	margin-left: 0px;
	}
	.textovrt{
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;}
	#main {
	    width: 100%;
	    height: 240px;
	}
	#mainbar{
		width: 100%;height:220px !important;
	}
	#maincircle{
		height:230px !important;
	}
	#canvasBox{
		height:230px !important;
		overflow:hidden;
	}
	#talents {
	    padding-top: 25px !important;
	    text-align: center;
	    overflow:hidden;
	}
}

.textovrt{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;}
.heightpeople{
	margin-top: 0px;
	margin-left:-75px;
	background-image:url(../image/rsbg.png);
	height:927px;
	width:1181px;
	position:absolute;
	background-size: 100%;
}
.hightpnum{
	font-size:50px;
	text-shadow: 0px 0px 20px rgba(2,15,31,1);
	-webkit-text-stroke-width: 1px;
	color:#1293ff ;
	padding-top: 670px;
	padding-left: 20px;
	text-align: center;
}
.heightbox{
	width:144px;
	height:144px;
	background-image:url(../image/peocir.png);
	background-size:100%;
	text-align: center;
	position: absolute;
	color:#34ffff;
	font-size:18px;
	/*font-weight: bold;*/
	line-height: 24px;
}
.paopao{
	margin-top:10px;
	width:40%;
}
.pao11{
	top:500px;
	left:750px;
	width:100px;
	height:100px;
	animation: showhide 4s infinite linear;
	animation-delay: 2s;
}
.pao22{
	top:400px;
	left:260px;
	width:120px;
	height:120px;
	animation: showhide 3s infinite linear;
	animation-delay: 1s;
}
.pao33{
	top:130px;
	left:900px;
	animation: showhide 5s infinite linear;
	animation-delay: 3s;
}
.pao44{
	top:480px;
	left:500px;
	width:90px;
	height:90px;
	animation: showhide 3s infinite linear;
	animation-delay: 2s;
}
.pao55{
	top:260px;
	left:700px;
	width:100px;
	height:100px;
	animation: showhide 4s infinite linear;
}
.pao66{
	top:200px;
	left:380px;
	width:110px;
	height:110px;
	animation: showhide 3s infinite linear;
}
.pao77{
	top:50px;
	left:120px;
	animation: showhide 5s infinite linear;
}
.shadowb{
	border:1px solid rgba(153,204,255,0.25) !important;
	box-shadow:rgba(153, 204, 255,0.1) 0px 0px 20px inset !important;
	background: rgba(11,28,61,0.7) !important;
}
.perbox{
	flex: 0 0 418px !important;
	max-width: 418px !important;
}
.zhushit{
	height:950px;
	width:1072px;
	margin-top:10px;
	margin-left:-10px;
}
@keyframes showhide{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0.1;
	}
	100%{
		opacity: 1;
	}
}