@charset "utf-8";
/* CSS Document */
html,body,li,ul,div{
	margin:0px auto;
	padding: 0px;
}
body{
	margin:0px auto !important;
	padding:0px;
}
/*滚动条样式设置*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/ 
::-webkit-scrollbar 
{ 
    width: 10px; 
    height: 10px; 
    background-color: #eff2f6; 
} 
   
/*定义滚动条轨道 内阴影+圆角*/ 
::-webkit-scrollbar-track 
{ 
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px; 
    background-color: #eff2f6; 
} 
   
/*定义滑块 内阴影+圆角*/ 
::-webkit-scrollbar-thumb 
{ 
    border-radius: 10px; 
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: rgba(0,62,141,0.4); 
} 
::-webkit-scrollbar-thumb:hover { /* 鼠标移入滑块 */
          background: rgba(0,62,141,0.9);
      }

/*滚动条样式设置*/
/*多选样式*/
input[type='checkbox']{
    width: 18px;
    height: 18px;
    background-color: #fff;
    -webkit-appearance:none;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    outline: none;
}
input[type='checkbox']:hover{
    border: 1px solid #2162b6;
}
input[type='checkbox']:checked{
	border: 1px solid #2162b6;
   background: url("../../../image/icon_checkbox.png")no-repeat center;
}
.int-inline{
	margin-bottom: 5px;
	display:inline-block;
}
.action input{
	vertical-align: middle;
}

.action lable{
	padding:0px 15px 0px 10px;
	color:#666;
	font-size: 14px;
	line-height:20px;
	vertical-align: middle;
}
/*多选样式*/
table th{
	height:72px;
	linge-height:72px;
	background: #eff2f6;
	font-size: 20px !important;
	color: #333;
}
.tool{
	position: fixed;
	top: 0px;
	width: 100%;
	padding-left:45px;
	background:#1b2032;
	height: 70px;
	line-height: 70px;
	z-index: 100;
}
.tool .limit{
	font-size:20px;
	color: #fff;
	vertical-align: middle;
}
.btn{
	border-radius: 3px !important;
	height:37px;
	line-height: 37px;
	width:84px;
	background: #fff;
	color:#1b2032;
	vertical-align: middle;
}
.btn:hover{
	background:#036eb8;
}
.layui-table-body{
	height: -moz-calc( 100vh - 265px );
    height: -webkit-calc( 100vh - 265px ); 
    height: calc( 100vh - 265 px )
}
.layui-form{
	height:auto !important;
}
/*添加弹性样式*/
.layui-layer-hui {
    min-width: 100px;
    background-color: #000;
    filter: alpha(opacity=60);
    background-color: rgba(0,0,0,.6);
    color: #fff;
    border: none;
}
.layui-layer-msg {
    min-width: 180px;
    border: 1px solid #D3D4D3;
    box-shadow: none;
}
.layui-layer-dialog {
    min-width: 260px;
}
.layui-layer-border {
    border: 1px solid #B2B2B2;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}
.layui-layer {
    -webkit-overflow-scrolling: touch;
    top: 150px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
    -webkit-background-clip: content;
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
}
.layui-layer, .layui-layer-shade {
    position: fixed;
    _position: absolute;
    pointer-events: auto;
}
.layui-layer-title{
	padding: 10px 15px;
	font-size: 16px;
	color: #fff;
	background: #036eb8;
	border-bottom: 1px solid rgba(255,255,255,0.05);
}
.layui-layer-content{
	padding:10px;
	color: #444;
}
/*删除按钮*/
.layui-layer-btn {
    text-align: right;
    padding: 0 15px 12px;
    pointer-events: auto;
    user-select: none;
    -webkit-user-select: none;
}

.layui-layer-btn .layui-layer-btn0 {
    border-color: #1E9FFF;
    background-color: #1E9FFF;
    color: #fff;
}
.layui-layer-btn a {
    height: 28px;
    line-height: 28px;
    margin: 5px 5px 0;
    padding: 0 15px;
    border: 1px solid #dedede;
    background-color: #fff;
    color: #333;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}
.layui-layer-btn a {
    height: 28px;
    line-height: 28px;
    margin: 5px 5px 0;
    padding: 0 15px;
    border: 1px solid #dedede;
    background-color: #fff;
    color: #333;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}
.layui-layer-btn a, .layui-layer-dialog .layui-layer-ico, .layui-layer-setwin a {
    display: inline-block;
    vertical-align: top;
}
table{
	width: 100% !important;
}
.action{
	margin-top: 70px;
	padding: 10px 40px 5px 40px;
	background: #eef1f4;
/*	width:100%;*/
/*	height:75px;*/
}
.export{
	background:#64ad30;
	color: #fff;
	border-radius: 3px;
	width: 147px;
	height:45px !important;
	line-height: 45px !important;
	font-size: 22px;
	text-align: center;
}
/*按钮颜色修改*/
.layui-btn-edit{
	background: #f2934a;
}
.layui-btn-tired{
	background:#64ad30;
}
/*下拉选框样式*/
.search{
	width：50px;
	height:36px;
	border: 1px solid #1b274e;
	color:#aaa;
	line-height:36px;
	vertical-align: middle;
	text-align: center;
}
.search option{
	text-align: center;}
.layui-input{
	width: 365px;
	border: 1px solid #1b274e;
	height: 36px;
	line-height: 36px;
}