<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qaii.dao.AttendMeetingFilesMapper">
  <resultMap id="BaseResultMap" type="com.qaii.domain.AttendMeetingFiles">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="File_name" jdbcType="VARCHAR" property="fileName" />
    <result column="File_path" jdbcType="VARCHAR" property="filePath" />
    <result column="File_describtion" jdbcType="VARCHAR" property="fileDescribtion" />
    <result column="File_createtime" jdbcType="TIMESTAMP" property="fileCreatetime" />
    <result column="File_modifytime" jdbcType="TIMESTAMP" property="fileModifytime" />
    <result column="AttendMeeting_id" jdbcType="INTEGER" property="attendmeetingId" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, File_name, File_path, File_describtion, File_createtime, File_modifytime, AttendMeeting_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AttendMeetingFiles
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from AttendMeetingFiles
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qaii.domain.AttendMeetingFiles">
    insert into AttendMeetingFiles (Id, File_name, File_path, 
      File_describtion, File_createtime, File_modifytime, 
      AttendMeeting_id)
    values (#{id,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, 
      #{fileDescribtion,jdbcType=VARCHAR}, #{fileCreatetime,jdbcType=TIMESTAMP}, #{fileModifytime,jdbcType=TIMESTAMP}, 
      #{attendmeetingId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qaii.domain.AttendMeetingFiles">
    insert into AttendMeetingFiles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="fileName != null">
        File_name,
      </if>
      <if test="filePath != null">
        File_path,
      </if>
      <if test="fileDescribtion != null">
        File_describtion,
      </if>
      <if test="fileCreatetime != null">
        File_createtime,
      </if>
      <if test="fileModifytime != null">
        File_modifytime,
      </if>
      <if test="attendmeetingId != null">
        AttendMeeting_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileDescribtion != null">
        #{fileDescribtion,jdbcType=VARCHAR},
      </if>
      <if test="fileCreatetime != null">
        #{fileCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileModifytime != null">
        #{fileModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="attendmeetingId != null">
        #{attendmeetingId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qaii.domain.AttendMeetingFiles">
    update AttendMeetingFiles
    <set>
      <if test="fileName != null">
        File_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        File_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileDescribtion != null">
        File_describtion = #{fileDescribtion,jdbcType=VARCHAR},
      </if>
      <if test="fileCreatetime != null">
        File_createtime = #{fileCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileModifytime != null">
        File_modifytime = #{fileModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="attendmeetingId != null">
        AttendMeeting_id = #{attendmeetingId,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qaii.domain.AttendMeetingFiles">
    update AttendMeetingFiles
    set File_name = #{fileName,jdbcType=VARCHAR},
      File_path = #{filePath,jdbcType=VARCHAR},
      File_describtion = #{fileDescribtion,jdbcType=VARCHAR},
      File_createtime = #{fileCreatetime,jdbcType=TIMESTAMP},
      File_modifytime = #{fileModifytime,jdbcType=TIMESTAMP},
      AttendMeeting_id = #{attendmeetingId,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>