<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qaii.dao.CommitLogMapper">
  <resultMap id="BaseResultMap" type="com.qaii.domain.CommitLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="module" jdbcType="VARCHAR" property="module" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="request_data" jdbcType="VARCHAR" property="requestData" />
    <result column="response_data" jdbcType="VARCHAR" property="responseData" />
    <result column="id_address" jdbcType="VARCHAR" property="idAddress" />
    <result column="data" jdbcType="VARCHAR" property="data" />
    <result column="result" jdbcType="VARCHAR" property="result" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, module, method, request_data, response_data, id_address, data, result
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commit_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from commit_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qaii.domain.CommitLog">
    insert into commit_log (id, user_id, module, 
      method, request_data, response_data, 
      id_address, data, result
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{module,jdbcType=VARCHAR}, 
      #{method,jdbcType=VARCHAR}, #{requestData,jdbcType=VARCHAR}, #{responseData,jdbcType=VARCHAR}, 
      #{idAddress,jdbcType=VARCHAR}, #{data,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qaii.domain.CommitLog">
    insert into commit_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="module != null">
        module,
      </if>
      <if test="method != null">
        method,
      </if>
      <if test="requestData != null">
        request_data,
      </if>
      <if test="responseData != null">
        response_data,
      </if>
      <if test="idAddress != null">
        id_address,
      </if>
      <if test="data != null">
        data,
      </if>
      <if test="result != null">
        result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="module != null">
        #{module,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="requestData != null">
        #{requestData,jdbcType=VARCHAR},
      </if>
      <if test="responseData != null">
        #{responseData,jdbcType=VARCHAR},
      </if>
      <if test="idAddress != null">
        #{idAddress,jdbcType=VARCHAR},
      </if>
      <if test="data != null">
        #{data,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qaii.domain.CommitLog">
    update commit_log
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="module != null">
        module = #{module,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="requestData != null">
        request_data = #{requestData,jdbcType=VARCHAR},
      </if>
      <if test="responseData != null">
        response_data = #{responseData,jdbcType=VARCHAR},
      </if>
      <if test="idAddress != null">
        id_address = #{idAddress,jdbcType=VARCHAR},
      </if>
      <if test="data != null">
        data = #{data,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qaii.domain.CommitLog">
    update commit_log
    set user_id = #{userId,jdbcType=VARCHAR},
      module = #{module,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      request_data = #{requestData,jdbcType=VARCHAR},
      response_data = #{responseData,jdbcType=VARCHAR},
      id_address = #{idAddress,jdbcType=VARCHAR},
      data = #{data,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>