<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qaii.dao.EmpInfoMapper" >
  <resultMap id="BaseResultMap" type="com.qaii.domain.EmpInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="eid" property="eid" jdbcType="VARCHAR" />
    <result column="emp_num" property="empNum" jdbcType="VARCHAR" />
    <result column="emp_name" property="empName" jdbcType="VARCHAR" />
    <result column="emp_gender" property="empGender" jdbcType="VARCHAR" />
    <result column="emp_dept" property="empDept" jdbcType="VARCHAR" />
    <result column="emp_position" property="empPosition" jdbcType="VARCHAR" />
    <result column="emp_hire_startTime" property="empHireStarttime" jdbcType="VARCHAR" />
    <result column="emp_stat" property="empstat" jdbcType="VARCHAR" />
    <result column="emp_idcard" property="empIdcard" jdbcType="VARCHAR" />
    <result column="emp_idcard_endTime" property="empIdcardEndtime" jdbcType="VARCHAR" />
    <result column="emp_ethnic" property="empEthnic" jdbcType="VARCHAR" />
    <result column="emp_politicalLandscape" property="empPoliticallandscape" jdbcType="VARCHAR" />
    <result column="emp_maritalStatus" property="empMaritalstatus" jdbcType="VARCHAR" />
    <result column="emp_firstEducation" property="empFirsteducation" jdbcType="VARCHAR" />
    <result column="emp_secondEducation" property="empSecondeducation" jdbcType="VARCHAR" />
    <result column="emp_thirdEducation" property="empThirdeducation" jdbcType="VARCHAR" />
    <result column="emp_firstEducationSchool" property="empFirsteducationschool" jdbcType="VARCHAR" />
    <result column="emp_secondEducationSchool" property="empSecondeducationschool" jdbcType="VARCHAR" />
    <result column="emp_thirdEducationSchool" property="empThirdeducationschool" jdbcType="VARCHAR" />
    <result column="emp_firstEducationPro" property="empFirsteducationpro" jdbcType="VARCHAR" />
    <result column="emp_secondEducationPro" property="empSecondeducationpro" jdbcType="VARCHAR" />
    <result column="emp_thirdEducationPro" property="empThirdeducationpro" jdbcType="VARCHAR" />
    <result column="emp_firstGraduationTime" property="empFirstgraduationtime" jdbcType="VARCHAR" />
    <result column="emp_secondGraduationTime" property="empSecondgraduationtime" jdbcType="VARCHAR" />
    <result column="emp_thirdGraduationTime" property="empThirdgraduationtime" jdbcType="VARCHAR" />
    <result column="emp_jobTitle" property="empJobtitle" jdbcType="VARCHAR" />
    <result column="emp_jobTitleLevel" property="empJobtitlelevel" jdbcType="VARCHAR" />
    <result column="emp_jobTitleObtainTime" property="empJobtitleobtaintime" jdbcType="VARCHAR" />
    <result column="emp_phone" property="empPhone" jdbcType="VARCHAR" />
    <result column="emp_emergencyContactAndPhone" property="empEmergencycontactandphone" jdbcType="VARCHAR" />
    <result column="emp_fileAddress" property="empFileaddress" jdbcType="VARCHAR" />
    <result column="emp_accountAddress" property="empAccountaddress" jdbcType="VARCHAR" />
    <result column="emp_homeAddress" property="empHomeaddress" jdbcType="VARCHAR" />
    <result column="emp_workType" property="empWorktype" jdbcType="VARCHAR" />
    <result column="emp_compile" property="empCompile" jdbcType="VARCHAR" />
    <result column="emp_inductionTime" property="empInductiontime" jdbcType="VARCHAR" />
    <result column="emp_departureTime" property="empdepartureTime" jdbcType="VARCHAR" />
    <result column="emp_tryOutEndTime" property="empTryoutendtime" jdbcType="VARCHAR" />
    <result column="emp_tryStatus" property="empTrystatus" jdbcType="VARCHAR" />
    <result column="emp_contractEndTime" property="empContractendtime" jdbcType="VARCHAR" />
    <result column="emp_contractStatus" property="empContractstatus" jdbcType="VARCHAR" />
    <result column="emp_contractSignedNum" property="empContractsignednum" jdbcType="INTEGER" />
    <result column="emp_returnee" property="empReturnee" jdbcType="VARCHAR" />
    <result column="emp_foreign" property="empForeign" jdbcType="VARCHAR" />
    <result column="emp_remarks" property="empRemarks" jdbcType="VARCHAR" />
    <result column="emp_reviewStatus" property="empReviewstatus" jdbcType="VARCHAR" />
    <result column="emp_title" property="empTitle" jdbcType="VARCHAR" />
    <result column="emp_stat" property="empStat" jdbcType="VARCHAR" />
    <result column="emp_departureTime" property="empDepartureTime" jdbcType="VARCHAR" />
    <result column="emp_tryStatus" property="empTryStatus" jdbcType="VARCHAR" />
    <result column="emp_contractStatus" property="empContractStatus" jdbcType="VARCHAR" />
     <result column="emp_title" property="empTitle" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, eid, emp_num, emp_name, emp_gender, emp_dept, emp_position, emp_hire_startTime, 
    emp_idcard, emp_idcard_endTime, emp_ethnic, emp_politicalLandscape, emp_maritalStatus, 
    emp_firstEducation, emp_secondEducation, emp_thirdEducation, emp_firstEducationSchool, 
    emp_secondEducationSchool, emp_thirdEducationSchool, emp_firstEducationPro, emp_secondEducationPro, 
    emp_thirdEducationPro, emp_firstGraduationTime, emp_secondGraduationTime, emp_thirdGraduationTime, 
    emp_jobTitle, emp_jobTitleLevel, emp_jobTitleObtainTime, emp_phone, emp_emergencyContactAndPhone, 
    emp_fileAddress, emp_accountAddress, emp_homeAddress, emp_workType, emp_compile, 
    emp_inductionTime, emp_tryOutEndTime, emp_contractEndTime, emp_contractSignedNum, 
    emp_returnee, emp_foreign, emp_remarks, emp_reviewStatus, emp_stat, emp_departureTime, 
    emp_tryStatus, emp_contractStatus,emp_title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from emp_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from emp_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qaii.domain.EmpInfo" >
    insert into emp_info (id, eid, emp_num, 
      emp_name, emp_gender, emp_dept, 
      emp_position, emp_hire_startTime, emp_idcard, 
      emp_idcard_endTime, emp_ethnic, emp_politicalLandscape, 
      emp_maritalStatus, emp_firstEducation, emp_secondEducation, 
      emp_thirdEducation, emp_firstEducationSchool, 
      emp_secondEducationSchool, emp_thirdEducationSchool, 
      emp_firstEducationPro, emp_secondEducationPro, 
      emp_thirdEducationPro, emp_firstGraduationTime, 
      emp_secondGraduationTime, emp_thirdGraduationTime, 
      emp_jobTitle, emp_jobTitleLevel, emp_jobTitleObtainTime, 
      emp_phone, emp_emergencyContactAndPhone, 
      emp_fileAddress, emp_accountAddress, emp_homeAddress, 
      emp_workType, emp_compile, emp_inductionTime, 
      emp_tryOutEndTime, emp_contractEndTime, emp_contractSignedNum, 
      emp_returnee, emp_foreign, emp_remarks, 
      emp_reviewStatus,emp_stat, emp_departureTime, emp_tryStatus, emp_contractStatus,
      emp_title)
    values (#{id,jdbcType=INTEGER}, #{eid,jdbcType=VARCHAR}, #{empNum,jdbcType=VARCHAR}, 
      #{empName,jdbcType=VARCHAR}, #{empGender,jdbcType=VARCHAR}, #{empDept,jdbcType=VARCHAR}, 
      #{empPosition,jdbcType=VARCHAR}, #{empHireStarttime,jdbcType=VARCHAR}, #{empIdcard,jdbcType=VARCHAR}, 
      #{empIdcardEndtime,jdbcType=VARCHAR}, #{empEthnic,jdbcType=VARCHAR}, #{empPoliticallandscape,jdbcType=VARCHAR}, 
      #{empMaritalstatus,jdbcType=VARCHAR}, #{empFirsteducation,jdbcType=VARCHAR}, #{empSecondeducation,jdbcType=VARCHAR}, 
      #{empThirdeducation,jdbcType=VARCHAR}, #{empFirsteducationschool,jdbcType=VARCHAR}, 
      #{empSecondeducationschool,jdbcType=VARCHAR}, #{empThirdeducationschool,jdbcType=VARCHAR}, 
      #{empFirsteducationpro,jdbcType=VARCHAR}, #{empSecondeducationpro,jdbcType=VARCHAR}, 
      #{empThirdeducationpro,jdbcType=VARCHAR}, #{empFirstgraduationtime,jdbcType=VARCHAR}, 
      #{empSecondgraduationtime,jdbcType=VARCHAR}, #{empThirdgraduationtime,jdbcType=VARCHAR}, 
      #{empJobtitle,jdbcType=VARCHAR}, #{empJobtitlelevel,jdbcType=VARCHAR}, #{empJobtitleobtaintime,jdbcType=VARCHAR}, 
      #{empPhone,jdbcType=VARCHAR}, #{empEmergencycontactandphone,jdbcType=VARCHAR}, 
      #{empFileaddress,jdbcType=VARCHAR}, #{empAccountaddress,jdbcType=VARCHAR}, #{empHomeaddress,jdbcType=VARCHAR}, 
      #{empWorktype,jdbcType=VARCHAR}, #{empCompile,jdbcType=VARCHAR}, #{empInductiontime,jdbcType=VARCHAR}, 
      #{empTryoutendtime,jdbcType=VARCHAR}, #{empContractendtime,jdbcType=VARCHAR}, #{empContractsignednum,jdbcType=INTEGER}, 
      #{empReturnee,jdbcType=VARCHAR}, #{empForeign,jdbcType=VARCHAR}, #{empRemarks,jdbcType=VARCHAR}, 
      #{empReviewstatus,jdbcType=VARCHAR}, #{empStat,jdbcType=VARCHAR}, #{empDepartureTime,jdbcType=VARCHAR},
      #{empTryStatus,jdbcType=VARCHAR}, #{empContractStatus,jdbcType=VARCHAR},#{empTitle,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qaii.domain.EmpInfo" >
    insert into emp_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="eid != null" >
        eid,
      </if>
      <if test="empNum != null" >
        emp_num,
      </if>
      <if test="empName != null" >
        emp_name,
      </if>
      <if test="empGender != null" >
        emp_gender,
      </if>
      <if test="empDept != null" >
        emp_dept,
      </if>
      <if test="empPosition != null" >
        emp_position,
      </if>
      <if test="empHireStarttime != null" >
        emp_hire_startTime,
      </if>
      <if test="empIdcard != null" >
        emp_idcard,
      </if>
      <if test="empIdcardEndtime != null" >
        emp_idcard_endTime,
      </if>
      <if test="empEthnic != null" >
        emp_ethnic,
      </if>
      <if test="empPoliticallandscape != null" >
        emp_politicalLandscape,
      </if>
      <if test="empMaritalstatus != null" >
        emp_maritalStatus,
      </if>
      <if test="empFirsteducation != null" >
        emp_firstEducation,
      </if>
      <if test="empSecondeducation != null" >
        emp_secondEducation,
      </if>
      <if test="empThirdeducation != null" >
        emp_thirdEducation,
      </if>
      <if test="empFirsteducationschool != null" >
        emp_firstEducationSchool,
      </if>
      <if test="empSecondeducationschool != null" >
        emp_secondEducationSchool,
      </if>
      <if test="empThirdeducationschool != null" >
        emp_thirdEducationSchool,
      </if>
      <if test="empFirsteducationpro != null" >
        emp_firstEducationPro,
      </if>
      <if test="empSecondeducationpro != null" >
        emp_secondEducationPro,
      </if>
      <if test="empThirdeducationpro != null" >
        emp_thirdEducationPro,
      </if>
      <if test="empFirstgraduationtime != null" >
        emp_firstGraduationTime,
      </if>
      <if test="empSecondgraduationtime != null" >
        emp_secondGraduationTime,
      </if>
      <if test="empThirdgraduationtime != null" >
        emp_thirdGraduationTime,
      </if>
      <if test="empJobtitle != null" >
        emp_jobTitle,
      </if>
      <if test="empJobtitlelevel != null" >
        emp_jobTitleLevel,
      </if>
      <if test="empJobtitleobtaintime != null" >
        emp_jobTitleObtainTime,
      </if>
      <if test="empPhone != null" >
        emp_phone,
      </if>
      <if test="empEmergencycontactandphone != null" >
        emp_emergencyContactAndPhone,
      </if>
      <if test="empFileaddress != null" >
        emp_fileAddress,
      </if>
      <if test="empAccountaddress != null" >
        emp_accountAddress,
      </if>
      <if test="empHomeaddress != null" >
        emp_homeAddress,
      </if>
      <if test="empWorktype != null" >
        emp_workType,
      </if>
      <if test="empCompile != null" >
        emp_compile,
      </if>
      <if test="empInductiontime != null" >
        emp_inductionTime,
      </if>
      <if test="empTryoutendtime != null" >
        emp_tryOutEndTime,
      </if>
      <if test="empContractendtime != null" >
        emp_contractEndTime,
      </if>
      <if test="empContractsignednum != null" >
        emp_contractSignedNum,
      </if>
      <if test="empReturnee != null" >
        emp_returnee,
      </if>
      <if test="empForeign != null" >
        emp_foreign,
      </if>
      <if test="empRemarks != null" >
        emp_remarks,
      </if>
      <if test="empReviewstatus != null" >
        emp_reviewStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eid != null" >
        #{eid,jdbcType=VARCHAR},
      </if>
      <if test="empNum != null" >
        #{empNum,jdbcType=VARCHAR},
      </if>
      <if test="empName != null" >
        #{empName,jdbcType=VARCHAR},
      </if>
      <if test="empGender != null" >
        #{empGender,jdbcType=VARCHAR},
      </if>
      <if test="empDept != null" >
        #{empDept,jdbcType=VARCHAR},
      </if>
      <if test="empPosition != null" >
        #{empPosition,jdbcType=VARCHAR},
      </if>
      <if test="empHireStarttime != null" >
        #{empHireStarttime,jdbcType=VARCHAR},
      </if>
      <if test="empIdcard != null" >
        #{empIdcard,jdbcType=VARCHAR},
      </if>
      <if test="empIdcardEndtime != null" >
        #{empIdcardEndtime,jdbcType=VARCHAR},
      </if>
      <if test="empEthnic != null" >
        #{empEthnic,jdbcType=VARCHAR},
      </if>
      <if test="empPoliticallandscape != null" >
        #{empPoliticallandscape,jdbcType=VARCHAR},
      </if>
      <if test="empMaritalstatus != null" >
        #{empMaritalstatus,jdbcType=VARCHAR},
      </if>
      <if test="empFirsteducation != null" >
        #{empFirsteducation,jdbcType=VARCHAR},
      </if>
      <if test="empSecondeducation != null" >
        #{empSecondeducation,jdbcType=VARCHAR},
      </if>
      <if test="empThirdeducation != null" >
        #{empThirdeducation,jdbcType=VARCHAR},
      </if>
      <if test="empFirsteducationschool != null" >
        #{empFirsteducationschool,jdbcType=VARCHAR},
      </if>
      <if test="empSecondeducationschool != null" >
        #{empSecondeducationschool,jdbcType=VARCHAR},
      </if>
      <if test="empThirdeducationschool != null" >
        #{empThirdeducationschool,jdbcType=VARCHAR},
      </if>
      <if test="empFirsteducationpro != null" >
        #{empFirsteducationpro,jdbcType=VARCHAR},
      </if>
      <if test="empSecondeducationpro != null" >
        #{empSecondeducationpro,jdbcType=VARCHAR},
      </if>
      <if test="empThirdeducationpro != null" >
        #{empThirdeducationpro,jdbcType=VARCHAR},
      </if>
      <if test="empFirstgraduationtime != null" >
        #{empFirstgraduationtime,jdbcType=VARCHAR},
      </if>
      <if test="empSecondgraduationtime != null" >
        #{empSecondgraduationtime,jdbcType=VARCHAR},
      </if>
      <if test="empThirdgraduationtime != null" >
        #{empThirdgraduationtime,jdbcType=VARCHAR},
      </if>
      <if test="empJobtitle != null" >
        #{empJobtitle,jdbcType=VARCHAR},
      </if>
      <if test="empJobtitlelevel != null" >
        #{empJobtitlelevel,jdbcType=VARCHAR},
      </if>
      <if test="empJobtitleobtaintime != null" >
        #{empJobtitleobtaintime,jdbcType=VARCHAR},
      </if>
      <if test="empPhone != null" >
        #{empPhone,jdbcType=VARCHAR},
      </if>
      <if test="empEmergencycontactandphone != null" >
        #{empEmergencycontactandphone,jdbcType=VARCHAR},
      </if>
      <if test="empFileaddress != null" >
        #{empFileaddress,jdbcType=VARCHAR},
      </if>
      <if test="empAccountaddress != null" >
        #{empAccountaddress,jdbcType=VARCHAR},
      </if>
      <if test="empHomeaddress != null" >
        #{empHomeaddress,jdbcType=VARCHAR},
      </if>
      <if test="empWorktype != null" >
        #{empWorktype,jdbcType=VARCHAR},
      </if>
      <if test="empCompile != null" >
        #{empCompile,jdbcType=VARCHAR},
      </if>
      <if test="empInductiontime != null" >
        #{empInductiontime,jdbcType=VARCHAR},
      </if>
      <if test="empTryoutendtime != null" >
        #{empTryoutendtime,jdbcType=VARCHAR},
      </if>
      <if test="empContractendtime != null" >
        #{empContractendtime,jdbcType=VARCHAR},
      </if>
      <if test="empContractsignednum != null" >
        #{empContractsignednum,jdbcType=INTEGER},
      </if>
      <if test="empReturnee != null" >
        #{empReturnee,jdbcType=VARCHAR},
      </if>
      <if test="empForeign != null" >
        #{empForeign,jdbcType=VARCHAR},
      </if>
      <if test="empRemarks != null" >
        #{empRemarks,jdbcType=VARCHAR},
      </if>
      <if test="empReviewstatus != null" >
        #{empReviewstatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qaii.domain.EmpInfo" >
    update emp_info
    <set >
      <if test="eid != null" >
        eid = #{eid,jdbcType=VARCHAR},
      </if>
      <if test="empNum != null" >
        emp_num = #{empNum,jdbcType=VARCHAR},
      </if>
      <if test="empName != null" >
        emp_name = #{empName,jdbcType=VARCHAR},
      </if>
      <if test="empGender != null" >
        emp_gender = #{empGender,jdbcType=VARCHAR},
      </if>
      <if test="empDept != null" >
        emp_dept = #{empDept,jdbcType=VARCHAR},
      </if>
      <if test="empPosition != null" >
        emp_position = #{empPosition,jdbcType=VARCHAR},
      </if>
      <if test="empHireStarttime != null" >
        emp_hire_startTime = #{empHireStarttime,jdbcType=VARCHAR},
      </if>
      <if test="empIdcard != null" >
        emp_idcard = #{empIdcard,jdbcType=VARCHAR},
      </if>
      <if test="empIdcardEndtime != null" >
        emp_idcard_endTime = #{empIdcardEndtime,jdbcType=VARCHAR},
      </if>
      <if test="empEthnic != null" >
        emp_ethnic = #{empEthnic,jdbcType=VARCHAR},
      </if>
      <if test="empPoliticallandscape != null" >
        emp_politicalLandscape = #{empPoliticallandscape,jdbcType=VARCHAR},
      </if>
      <if test="empMaritalstatus != null" >
        emp_maritalStatus = #{empMaritalstatus,jdbcType=VARCHAR},
      </if>
      <if test="empFirsteducation != null" >
        emp_firstEducation = #{empFirsteducation,jdbcType=VARCHAR},
      </if>
      <if test="empSecondeducation != null" >
        emp_secondEducation = #{empSecondeducation,jdbcType=VARCHAR},
      </if>
      <if test="empThirdeducation != null" >
        emp_thirdEducation = #{empThirdeducation,jdbcType=VARCHAR},
      </if>
      <if test="empFirsteducationschool != null" >
        emp_firstEducationSchool = #{empFirsteducationschool,jdbcType=VARCHAR},
      </if>
      <if test="empSecondeducationschool != null" >
        emp_secondEducationSchool = #{empSecondeducationschool,jdbcType=VARCHAR},
      </if>
      <if test="empThirdeducationschool != null" >
        emp_thirdEducationSchool = #{empThirdeducationschool,jdbcType=VARCHAR},
      </if>
      <if test="empFirsteducationpro != null" >
        emp_firstEducationPro = #{empFirsteducationpro,jdbcType=VARCHAR},
      </if>
      <if test="empSecondeducationpro != null" >
        emp_secondEducationPro = #{empSecondeducationpro,jdbcType=VARCHAR},
      </if>
      <if test="empThirdeducationpro != null" >
        emp_thirdEducationPro = #{empThirdeducationpro,jdbcType=VARCHAR},
      </if>
      <if test="empFirstgraduationtime != null" >
        emp_firstGraduationTime = #{empFirstgraduationtime,jdbcType=VARCHAR},
      </if>
      <if test="empSecondgraduationtime != null" >
        emp_secondGraduationTime = #{empSecondgraduationtime,jdbcType=VARCHAR},
      </if>
      <if test="empThirdgraduationtime != null" >
        emp_thirdGraduationTime = #{empThirdgraduationtime,jdbcType=VARCHAR},
      </if>
      <if test="empJobtitle != null" >
        emp_jobTitle = #{empJobtitle,jdbcType=VARCHAR},
      </if>
      <if test="empJobtitlelevel != null" >
        emp_jobTitleLevel = #{empJobtitlelevel,jdbcType=VARCHAR},
      </if>
      <if test="empJobtitleobtaintime != null" >
        emp_jobTitleObtainTime = #{empJobtitleobtaintime,jdbcType=VARCHAR},
      </if>
      <if test="empPhone != null" >
        emp_phone = #{empPhone,jdbcType=VARCHAR},
      </if>
      <if test="empEmergencycontactandphone != null" >
        emp_emergencyContactAndPhone = #{empEmergencycontactandphone,jdbcType=VARCHAR},
      </if>
      <if test="empFileaddress != null" >
        emp_fileAddress = #{empFileaddress,jdbcType=VARCHAR},
      </if>
      <if test="empAccountaddress != null" >
        emp_accountAddress = #{empAccountaddress,jdbcType=VARCHAR},
      </if>
      <if test="empHomeaddress != null" >
        emp_homeAddress = #{empHomeaddress,jdbcType=VARCHAR},
      </if>
      <if test="empWorktype != null" >
        emp_workType = #{empWorktype,jdbcType=VARCHAR},
      </if>
      <if test="empCompile != null" >
        emp_compile = #{empCompile,jdbcType=VARCHAR},
      </if>
      <if test="empInductiontime != null" >
        emp_inductionTime = #{empInductiontime,jdbcType=VARCHAR},
      </if>
      <if test="empTryoutendtime != null" >
        emp_tryOutEndTime = #{empTryoutendtime,jdbcType=VARCHAR},
      </if>
      <if test="empContractendtime != null" >
        emp_contractEndTime = #{empContractendtime,jdbcType=VARCHAR},
      </if>
      <if test="empContractsignednum != null" >
        emp_contractSignedNum = #{empContractsignednum,jdbcType=INTEGER},
      </if>
      <if test="empReturnee != null" >
        emp_returnee = #{empReturnee,jdbcType=VARCHAR},
      </if>
      <if test="empForeign != null" >
        emp_foreign = #{empForeign,jdbcType=VARCHAR},
      </if>
      <if test="empRemarks != null" >
        emp_remarks = #{empRemarks,jdbcType=VARCHAR},
      </if>
      <if test="empReviewstatus != null" >
        emp_reviewStatus = #{empReviewstatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="findAllEmpInfo" resultMap="BaseResultMap" parameterType="com.qaii.domain.EmpInfo">
  	select e. *, a.url as url 
  	from  emp_info e left join  emp_avatarinfo a on e.eid=a.id
  </select>
  
  <update id="updateByPrimaryKey" parameterType="com.qaii.domain.EmpInfo" >
    update emp_info
    set eid = #{eid,jdbcType=VARCHAR},
      emp_num = #{empNum,jdbcType=VARCHAR},
      emp_name = #{empName,jdbcType=VARCHAR},
      emp_gender = #{empGender,jdbcType=VARCHAR},
      emp_dept = #{empDept,jdbcType=VARCHAR},
      emp_position = #{empPosition,jdbcType=VARCHAR},
      emp_hire_startTime = #{empHireStarttime,jdbcType=VARCHAR},
      emp_idcard = #{empIdcard,jdbcType=VARCHAR},
      emp_idcard_endTime = #{empIdcardEndtime,jdbcType=VARCHAR},
      emp_ethnic = #{empEthnic,jdbcType=VARCHAR},
      emp_politicalLandscape = #{empPoliticallandscape,jdbcType=VARCHAR},
      emp_maritalStatus = #{empMaritalstatus,jdbcType=VARCHAR},
      emp_firstEducation = #{empFirsteducation,jdbcType=VARCHAR},
      emp_secondEducation = #{empSecondeducation,jdbcType=VARCHAR},
      emp_thirdEducation = #{empThirdeducation,jdbcType=VARCHAR},
      emp_firstEducationSchool = #{empFirsteducationschool,jdbcType=VARCHAR},
      emp_secondEducationSchool = #{empSecondeducationschool,jdbcType=VARCHAR},
      emp_thirdEducationSchool = #{empThirdeducationschool,jdbcType=VARCHAR},
      emp_firstEducationPro = #{empFirsteducationpro,jdbcType=VARCHAR},
      emp_secondEducationPro = #{empSecondeducationpro,jdbcType=VARCHAR},
      emp_thirdEducationPro = #{empThirdeducationpro,jdbcType=VARCHAR},
      emp_firstGraduationTime = #{empFirstgraduationtime,jdbcType=VARCHAR},
      emp_secondGraduationTime = #{empSecondgraduationtime,jdbcType=VARCHAR},
      emp_thirdGraduationTime = #{empThirdgraduationtime,jdbcType=VARCHAR},
      emp_jobTitle = #{empJobtitle,jdbcType=VARCHAR},
      emp_jobTitleLevel = #{empJobtitlelevel,jdbcType=VARCHAR},
      emp_jobTitleObtainTime = #{empJobtitleobtaintime,jdbcType=VARCHAR},
      emp_phone = #{empPhone,jdbcType=VARCHAR},
      emp_emergencyContactAndPhone = #{empEmergencycontactandphone,jdbcType=VARCHAR},
      emp_fileAddress = #{empFileaddress,jdbcType=VARCHAR},
      emp_accountAddress = #{empAccountaddress,jdbcType=VARCHAR},
      emp_homeAddress = #{empHomeaddress,jdbcType=VARCHAR},
      emp_workType = #{empWorktype,jdbcType=VARCHAR},
      emp_compile = #{empCompile,jdbcType=VARCHAR},
      emp_inductionTime = #{empInductiontime,jdbcType=VARCHAR},
      emp_tryOutEndTime = #{empTryoutendtime,jdbcType=VARCHAR},
      emp_contractEndTime = #{empContractendtime,jdbcType=VARCHAR},
      emp_contractSignedNum = #{empContractsignednum,jdbcType=INTEGER},
      emp_returnee = #{empReturnee,jdbcType=VARCHAR},
      emp_foreign = #{empForeign,jdbcType=VARCHAR},
      emp_remarks = #{empRemarks,jdbcType=VARCHAR},
      emp_reviewStatus = #{empReviewstatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  	<select id="checkbyContract" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT	*FROM	emp_info WHERE	emp_contractStatus = '1' AND emp_stat='1'
		<if test="_parameter!=null">
			and emp_contractEndTime &lt; #{empContractendtime,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="checkbyTry" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT	*FROM	emp_info WHERE	emp_tryStatus = '1' AND emp_stat='1'
		<if test="_parameter!=null">
			and emp_tryOutEndTime &lt; #{empTryoutendtime,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="selectnumbyEntry" resultType="int" parameterType="java.lang.String">
		SELECT count(*) FROM emp_info WHERE emp_inductionTime &gt;= #{0} AND emp_inductionTime &lt; #{1}
	</select>
	<select id="selectnumbyDeparture" resultType="int" parameterType="java.lang.String">
		SELECT COUNT(*) FROM emp_info WHERE emp_departureTime &gt;= #{0} AND emp_departureTime &lt; #{1}
	</select>
	<select id="selectnumofcollege" resultType="int" parameterType="java.lang.String">
		SELECT COUNT(*) FROM emp_info WHERE emp_inductionTime &lt; #{0} AND emp_departureTime &gt; #{1}
	</select>
	<select id="selectnumofIncubationComp" resultType="int" parameterType="java.lang.String">
		SELECT COUNT(*) FROM emp_info WHERE emp_departureTime &gt; #{0} AND emp_inductionTime &lt; #{1} AND emp_dept in ('孵化二','孵化一')
	</select>
	<select id="selectnumofcollegeComp" resultType="int" parameterType="java.lang.String">
		SELECT COUNT(*) FROM emp_info WHERE emp_departureTime &gt; #{0} AND emp_inductionTime &lt; #{1} AND emp_dept in ('财务处','综合管理处','平行工作室')
	</select>
	<select id="selectnumoftalnets"  resultType="int" parameterType="java.lang.String">
		SELECT COUNT(*) FROM emp_info WHERE emp_dept=#{0} AND emp_stat='1'
	</select>
	<select id="selectnumofHightalents"  resultType="int" parameterType="java.lang.String">
		SELECT COUNT(*) FROM emp_info WHERE emp_title=#{0} AND emp_stat='1'
	</select>
 	<select id="findEmpinfoAndAvatarByid" resultMap="BaseResultMap" parameterType="com.qaii.domain.EmpInfo">
 		select e. *, a.url as url 
  		from  emp_info e left join  emp_avatarinfo a on e.eid=a.id where e.eid=#{id,jdbcType=INTEGER}
 	</select>
</mapper>