<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qaii.dao.GovfundMapper">
  <resultMap id="BaseResultMap" type="com.qaii.domain.Govfund">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="govfund_ApplyTime" jdbcType="VARCHAR" property="govfundApplytime" />
    <result column="govfund_Source" jdbcType="VARCHAR" property="govfundSource" />
    <result column="govfund_Level" jdbcType="VARCHAR" property="govfundLevel" />
    <result column="govfund_Name" jdbcType="VARCHAR" property="govfundName" />
    <result column="govfund_ImplementTime" jdbcType="VARCHAR" property="govfundImplementtime" />
    <result column="govfund_ConstructUnit" jdbcType="VARCHAR" property="govfundConstructunit" />
    <result column="govfund_ManageDepart" jdbcType="VARCHAR" property="govfundManagedepart" />
    <result column="govfund_ApplyDepart" jdbcType="VARCHAR" property="govfundApplydepart" />
    <result column="govfund_Pass" jdbcType="VARCHAR" property="govfundPass" />
    <result column="govfund_WrittenTime" jdbcType="VARCHAR" property="govfundWrittentime" />
    <result column="govfund_FundLimit" jdbcType="VARCHAR" property="govfundFundlimit" />
    <result column="govfund_Fund" jdbcType="VARCHAR" property="govfundFund" />
    <result column="govfund_FundTime" jdbcType="VARCHAR" property="govfundFundtime" />
    <result column="govfund_MiddleResult" jdbcType="VARCHAR" property="govfundMiddleresult" />
    <result column="govfund_EndResult" jdbcType="VARCHAR" property="govfundEndresult" />
    <result column="govfund_Remark" jdbcType="VARCHAR" property="govfundRemark" />
    <result column="govfund_File" jdbcType="VARCHAR" property="govfundFile" />
    <result column="govfund_MiddleTime" jdbcType="VARCHAR" property="govfundMiddletime" />
    <result column="govfund_EndTime" jdbcType="VARCHAR" property="govfundEndtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, govfund_ApplyTime, govfund_Source, govfund_Level, govfund_Name, govfund_ImplementTime, 
    govfund_ConstructUnit, govfund_ManageDepart, govfund_ApplyDepart, govfund_Pass, govfund_WrittenTime, 
    govfund_FundLimit, govfund_Fund, govfund_FundTime, govfund_MiddleResult, govfund_EndResult, 
    govfund_Remark, govfund_File, govfund_MiddleTime, govfund_EndTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sci_govfund
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sci_govfund
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qaii.domain.Govfund">
    insert into sci_govfund (id, govfund_ApplyTime, govfund_Source, 
      govfund_Level, govfund_Name, govfund_ImplementTime, 
      govfund_ConstructUnit, govfund_ManageDepart, 
      govfund_ApplyDepart, govfund_Pass, govfund_WrittenTime, 
      govfund_FundLimit, govfund_Fund, govfund_FundTime, 
      govfund_MiddleResult, govfund_EndResult, 
      govfund_Remark, govfund_File, govfund_MiddleTime, 
      govfund_EndTime)
    values (#{id,jdbcType=INTEGER}, #{govfundApplytime,jdbcType=VARCHAR}, #{govfundSource,jdbcType=VARCHAR}, 
      #{govfundLevel,jdbcType=VARCHAR}, #{govfundName,jdbcType=VARCHAR}, #{govfundImplementtime,jdbcType=VARCHAR}, 
      #{govfundConstructunit,jdbcType=VARCHAR}, #{govfundManagedepart,jdbcType=VARCHAR}, 
      #{govfundApplydepart,jdbcType=VARCHAR}, #{govfundPass,jdbcType=VARCHAR}, #{govfundWrittentime,jdbcType=VARCHAR}, 
      #{govfundFundlimit,jdbcType=VARCHAR}, #{govfundFund,jdbcType=VARCHAR}, #{govfundFundtime,jdbcType=VARCHAR}, 
      #{govfundMiddleresult,jdbcType=VARCHAR}, #{govfundEndresult,jdbcType=VARCHAR}, 
      #{govfundRemark,jdbcType=VARCHAR}, #{govfundFile,jdbcType=VARCHAR}, #{govfundMiddletime,jdbcType=VARCHAR}, 
      #{govfundEndtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qaii.domain.Govfund">
    insert into sci_govfund
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="govfundApplytime != null">
        govfund_ApplyTime,
      </if>
      <if test="govfundSource != null">
        govfund_Source,
      </if>
      <if test="govfundLevel != null">
        govfund_Level,
      </if>
      <if test="govfundName != null">
        govfund_Name,
      </if>
      <if test="govfundImplementtime != null">
        govfund_ImplementTime,
      </if>
      <if test="govfundConstructunit != null">
        govfund_ConstructUnit,
      </if>
      <if test="govfundManagedepart != null">
        govfund_ManageDepart,
      </if>
      <if test="govfundApplydepart != null">
        govfund_ApplyDepart,
      </if>
      <if test="govfundPass != null">
        govfund_Pass,
      </if>
      <if test="govfundWrittentime != null">
        govfund_WrittenTime,
      </if>
      <if test="govfundFundlimit != null">
        govfund_FundLimit,
      </if>
      <if test="govfundFund != null">
        govfund_Fund,
      </if>
      <if test="govfundFundtime != null">
        govfund_FundTime,
      </if>
      <if test="govfundMiddleresult != null">
        govfund_MiddleResult,
      </if>
      <if test="govfundEndresult != null">
        govfund_EndResult,
      </if>
      <if test="govfundRemark != null">
        govfund_Remark,
      </if>
      <if test="govfundFile != null">
        govfund_File,
      </if>
      <if test="govfundMiddletime != null">
        govfund_MiddleTime,
      </if>
      <if test="govfundEndtime != null">
        govfund_EndTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="govfundApplytime != null">
        #{govfundApplytime,jdbcType=VARCHAR},
      </if>
      <if test="govfundSource != null">
        #{govfundSource,jdbcType=VARCHAR},
      </if>
      <if test="govfundLevel != null">
        #{govfundLevel,jdbcType=VARCHAR},
      </if>
      <if test="govfundName != null">
        #{govfundName,jdbcType=VARCHAR},
      </if>
      <if test="govfundImplementtime != null">
        #{govfundImplementtime,jdbcType=VARCHAR},
      </if>
      <if test="govfundConstructunit != null">
        #{govfundConstructunit,jdbcType=VARCHAR},
      </if>
      <if test="govfundManagedepart != null">
        #{govfundManagedepart,jdbcType=VARCHAR},
      </if>
      <if test="govfundApplydepart != null">
        #{govfundApplydepart,jdbcType=VARCHAR},
      </if>
      <if test="govfundPass != null">
        #{govfundPass,jdbcType=VARCHAR},
      </if>
      <if test="govfundWrittentime != null">
        #{govfundWrittentime,jdbcType=VARCHAR},
      </if>
      <if test="govfundFundlimit != null">
        #{govfundFundlimit,jdbcType=VARCHAR},
      </if>
      <if test="govfundFund != null">
        #{govfundFund,jdbcType=VARCHAR},
      </if>
      <if test="govfundFundtime != null">
        #{govfundFundtime,jdbcType=VARCHAR},
      </if>
      <if test="govfundMiddleresult != null">
        #{govfundMiddleresult,jdbcType=VARCHAR},
      </if>
      <if test="govfundEndresult != null">
        #{govfundEndresult,jdbcType=VARCHAR},
      </if>
      <if test="govfundRemark != null">
        #{govfundRemark,jdbcType=VARCHAR},
      </if>
      <if test="govfundFile != null">
        #{govfundFile,jdbcType=VARCHAR},
      </if>
      <if test="govfundMiddletime != null">
        #{govfundMiddletime,jdbcType=VARCHAR},
      </if>
      <if test="govfundEndtime != null">
        #{govfundEndtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qaii.domain.Govfund">
    update sci_govfund
    <set>
      <if test="govfundApplytime != null">
        govfund_ApplyTime = #{govfundApplytime,jdbcType=VARCHAR},
      </if>
      <if test="govfundSource != null">
        govfund_Source = #{govfundSource,jdbcType=VARCHAR},
      </if>
      <if test="govfundLevel != null">
        govfund_Level = #{govfundLevel,jdbcType=VARCHAR},
      </if>
      <if test="govfundName != null">
        govfund_Name = #{govfundName,jdbcType=VARCHAR},
      </if>
      <if test="govfundImplementtime != null">
        govfund_ImplementTime = #{govfundImplementtime,jdbcType=VARCHAR},
      </if>
      <if test="govfundConstructunit != null">
        govfund_ConstructUnit = #{govfundConstructunit,jdbcType=VARCHAR},
      </if>
      <if test="govfundManagedepart != null">
        govfund_ManageDepart = #{govfundManagedepart,jdbcType=VARCHAR},
      </if>
      <if test="govfundApplydepart != null">
        govfund_ApplyDepart = #{govfundApplydepart,jdbcType=VARCHAR},
      </if>
      <if test="govfundPass != null">
        govfund_Pass = #{govfundPass,jdbcType=VARCHAR},
      </if>
      <if test="govfundWrittentime != null">
        govfund_WrittenTime = #{govfundWrittentime,jdbcType=VARCHAR},
      </if>
      <if test="govfundFundlimit != null">
        govfund_FundLimit = #{govfundFundlimit,jdbcType=VARCHAR},
      </if>
      <if test="govfundFund != null">
        govfund_Fund = #{govfundFund,jdbcType=VARCHAR},
      </if>
      <if test="govfundFundtime != null">
        govfund_FundTime = #{govfundFundtime,jdbcType=VARCHAR},
      </if>
      <if test="govfundMiddleresult != null">
        govfund_MiddleResult = #{govfundMiddleresult,jdbcType=VARCHAR},
      </if>
      <if test="govfundEndresult != null">
        govfund_EndResult = #{govfundEndresult,jdbcType=VARCHAR},
      </if>
      <if test="govfundRemark != null">
        govfund_Remark = #{govfundRemark,jdbcType=VARCHAR},
      </if>
      <if test="govfundFile != null">
        govfund_File = #{govfundFile,jdbcType=VARCHAR},
      </if>
      <if test="govfundMiddletime != null">
        govfund_MiddleTime = #{govfundMiddletime,jdbcType=VARCHAR},
      </if>
      <if test="govfundEndtime != null">
        govfund_EndTime = #{govfundEndtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qaii.domain.Govfund">
    update sci_govfund
    set govfund_ApplyTime = #{govfundApplytime,jdbcType=VARCHAR},
      govfund_Source = #{govfundSource,jdbcType=VARCHAR},
      govfund_Level = #{govfundLevel,jdbcType=VARCHAR},
      govfund_Name = #{govfundName,jdbcType=VARCHAR},
      govfund_ImplementTime = #{govfundImplementtime,jdbcType=VARCHAR},
      govfund_ConstructUnit = #{govfundConstructunit,jdbcType=VARCHAR},
      govfund_ManageDepart = #{govfundManagedepart,jdbcType=VARCHAR},
      govfund_ApplyDepart = #{govfundApplydepart,jdbcType=VARCHAR},
      govfund_Pass = #{govfundPass,jdbcType=VARCHAR},
      govfund_WrittenTime = #{govfundWrittentime,jdbcType=VARCHAR},
      govfund_FundLimit = #{govfundFundlimit,jdbcType=VARCHAR},
      govfund_Fund = #{govfundFund,jdbcType=VARCHAR},
      govfund_FundTime = #{govfundFundtime,jdbcType=VARCHAR},
      govfund_MiddleResult = #{govfundMiddleresult,jdbcType=VARCHAR},
      govfund_EndResult = #{govfundEndresult,jdbcType=VARCHAR},
      govfund_Remark = #{govfundRemark,jdbcType=VARCHAR},
      govfund_File = #{govfundFile,jdbcType=VARCHAR},
      govfund_MiddleTime = #{govfundMiddletime,jdbcType=VARCHAR},
      govfund_EndTime = #{govfundEndtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getAllFundMsg" resultMap="BaseResultMap">SELECT * from sci_govfund</select>
  <delete id="deleteByPrimaryKeys" parameterType="int">
    DELETE  FROM sci_govfund WHERE id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id,jdbcType=INTEGER}
        </foreach>
  </delete>
  <select id="listByNum" resultMap="BaseResultMap" parameterType="int">
    SELECT  * from sci_govfund ORDER BY govfund_FundLimit DESC LIMIT #{0}
  </select>
</mapper>