<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qaii.dao.GovrewardMapper">
  <resultMap id="BaseResultMap" type="com.qaii.domain.Govreward">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="reward_ApplyTime" jdbcType="VARCHAR" property="rewardApplytime" />
    <result column="reward_Source" jdbcType="VARCHAR" property="rewardSource" />
    <result column="reward_Level" jdbcType="VARCHAR" property="rewardLevel" />
    <result column="reward_Name" jdbcType="VARCHAR" property="rewardName" />
    <result column="reward_ProjectName" jdbcType="VARCHAR" property="rewardProjectname" />
    <result column="reward_DutyUnit" jdbcType="VARCHAR" property="rewardDutyunit" />
    <result column="reward_CooperationUnit" jdbcType="VARCHAR" property="rewardCooperationunit" />
    <result column="reward_ManageDepart" jdbcType="VARCHAR" property="rewardManagedepart" />
    <result column="reward_ApplyDepart" jdbcType="VARCHAR" property="rewardApplydepart" />
    <result column="reward_AssumeDepart" jdbcType="VARCHAR" property="rewardAssumedepart" />
    <result column="reward_Award" jdbcType="VARCHAR" property="rewardAward" />
    <result column="reward_AwardTime" jdbcType="VARCHAR" property="rewardAwardtime" />
    <result column="reward_AwardNum" jdbcType="VARCHAR" property="rewardAwardnum" />
    <result column="reward_FundTime" jdbcType="VARCHAR" property="rewardFundtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, reward_ApplyTime, reward_Source, reward_Level, reward_Name, reward_ProjectName, 
    reward_DutyUnit, reward_CooperationUnit, reward_ManageDepart, reward_ApplyDepart, 
    reward_AssumeDepart, reward_Award, reward_AwardTime, reward_AwardNum, reward_FundTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sci_govreward
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sci_govreward
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qaii.domain.Govreward">
    insert into sci_govreward (id, reward_ApplyTime, reward_Source, 
      reward_Level, reward_Name, reward_ProjectName, 
      reward_DutyUnit, reward_CooperationUnit, 
      reward_ManageDepart, reward_ApplyDepart, 
      reward_AssumeDepart, reward_Award, reward_AwardTime, 
      reward_AwardNum, reward_FundTime)
    values (#{id,jdbcType=INTEGER}, #{rewardApplytime,jdbcType=VARCHAR}, #{rewardSource,jdbcType=VARCHAR}, 
      #{rewardLevel,jdbcType=VARCHAR}, #{rewardName,jdbcType=VARCHAR}, #{rewardProjectname,jdbcType=VARCHAR}, 
      #{rewardDutyunit,jdbcType=VARCHAR}, #{rewardCooperationunit,jdbcType=VARCHAR}, 
      #{rewardManagedepart,jdbcType=VARCHAR}, #{rewardApplydepart,jdbcType=VARCHAR}, 
      #{rewardAssumedepart,jdbcType=VARCHAR}, #{rewardAward,jdbcType=VARCHAR}, #{rewardAwardtime,jdbcType=VARCHAR}, 
      #{rewardAwardnum,jdbcType=VARCHAR}, #{rewardFundtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qaii.domain.Govreward">
    insert into sci_govreward
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rewardApplytime != null">
        reward_ApplyTime,
      </if>
      <if test="rewardSource != null">
        reward_Source,
      </if>
      <if test="rewardLevel != null">
        reward_Level,
      </if>
      <if test="rewardName != null">
        reward_Name,
      </if>
      <if test="rewardProjectname != null">
        reward_ProjectName,
      </if>
      <if test="rewardDutyunit != null">
        reward_DutyUnit,
      </if>
      <if test="rewardCooperationunit != null">
        reward_CooperationUnit,
      </if>
      <if test="rewardManagedepart != null">
        reward_ManageDepart,
      </if>
      <if test="rewardApplydepart != null">
        reward_ApplyDepart,
      </if>
      <if test="rewardAssumedepart != null">
        reward_AssumeDepart,
      </if>
      <if test="rewardAward != null">
        reward_Award,
      </if>
      <if test="rewardAwardtime != null">
        reward_AwardTime,
      </if>
      <if test="rewardAwardnum != null">
        reward_AwardNum,
      </if>
      <if test="rewardFundtime != null">
        reward_FundTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rewardApplytime != null">
        #{rewardApplytime,jdbcType=VARCHAR},
      </if>
      <if test="rewardSource != null">
        #{rewardSource,jdbcType=VARCHAR},
      </if>
      <if test="rewardLevel != null">
        #{rewardLevel,jdbcType=VARCHAR},
      </if>
      <if test="rewardName != null">
        #{rewardName,jdbcType=VARCHAR},
      </if>
      <if test="rewardProjectname != null">
        #{rewardProjectname,jdbcType=VARCHAR},
      </if>
      <if test="rewardDutyunit != null">
        #{rewardDutyunit,jdbcType=VARCHAR},
      </if>
      <if test="rewardCooperationunit != null">
        #{rewardCooperationunit,jdbcType=VARCHAR},
      </if>
      <if test="rewardManagedepart != null">
        #{rewardManagedepart,jdbcType=VARCHAR},
      </if>
      <if test="rewardApplydepart != null">
        #{rewardApplydepart,jdbcType=VARCHAR},
      </if>
      <if test="rewardAssumedepart != null">
        #{rewardAssumedepart,jdbcType=VARCHAR},
      </if>
      <if test="rewardAward != null">
        #{rewardAward,jdbcType=VARCHAR},
      </if>
      <if test="rewardAwardtime != null">
        #{rewardAwardtime,jdbcType=VARCHAR},
      </if>
      <if test="rewardAwardnum != null">
        #{rewardAwardnum,jdbcType=VARCHAR},
      </if>
      <if test="rewardFundtime != null">
        #{rewardFundtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qaii.domain.Govreward">
    update sci_govreward
    <set>
      <if test="rewardApplytime != null">
        reward_ApplyTime = #{rewardApplytime,jdbcType=VARCHAR},
      </if>
      <if test="rewardSource != null">
        reward_Source = #{rewardSource,jdbcType=VARCHAR},
      </if>
      <if test="rewardLevel != null">
        reward_Level = #{rewardLevel,jdbcType=VARCHAR},
      </if>
      <if test="rewardName != null">
        reward_Name = #{rewardName,jdbcType=VARCHAR},
      </if>
      <if test="rewardProjectname != null">
        reward_ProjectName = #{rewardProjectname,jdbcType=VARCHAR},
      </if>
      <if test="rewardDutyunit != null">
        reward_DutyUnit = #{rewardDutyunit,jdbcType=VARCHAR},
      </if>
      <if test="rewardCooperationunit != null">
        reward_CooperationUnit = #{rewardCooperationunit,jdbcType=VARCHAR},
      </if>
      <if test="rewardManagedepart != null">
        reward_ManageDepart = #{rewardManagedepart,jdbcType=VARCHAR},
      </if>
      <if test="rewardApplydepart != null">
        reward_ApplyDepart = #{rewardApplydepart,jdbcType=VARCHAR},
      </if>
      <if test="rewardAssumedepart != null">
        reward_AssumeDepart = #{rewardAssumedepart,jdbcType=VARCHAR},
      </if>
      <if test="rewardAward != null">
        reward_Award = #{rewardAward,jdbcType=VARCHAR},
      </if>
      <if test="rewardAwardtime != null">
        reward_AwardTime = #{rewardAwardtime,jdbcType=VARCHAR},
      </if>
      <if test="rewardAwardnum != null">
        reward_AwardNum = #{rewardAwardnum,jdbcType=VARCHAR},
      </if>
      <if test="rewardFundtime != null">
        reward_FundTime = #{rewardFundtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qaii.domain.Govreward">
    update sci_govreward
    set reward_ApplyTime = #{rewardApplytime,jdbcType=VARCHAR},
      reward_Source = #{rewardSource,jdbcType=VARCHAR},
      reward_Level = #{rewardLevel,jdbcType=VARCHAR},
      reward_Name = #{rewardName,jdbcType=VARCHAR},
      reward_ProjectName = #{rewardProjectname,jdbcType=VARCHAR},
      reward_DutyUnit = #{rewardDutyunit,jdbcType=VARCHAR},
      reward_CooperationUnit = #{rewardCooperationunit,jdbcType=VARCHAR},
      reward_ManageDepart = #{rewardManagedepart,jdbcType=VARCHAR},
      reward_ApplyDepart = #{rewardApplydepart,jdbcType=VARCHAR},
      reward_AssumeDepart = #{rewardAssumedepart,jdbcType=VARCHAR},
      reward_Award = #{rewardAward,jdbcType=VARCHAR},
      reward_AwardTime = #{rewardAwardtime,jdbcType=VARCHAR},
      reward_AwardNum = #{rewardAwardnum,jdbcType=VARCHAR},
      reward_FundTime = #{rewardFundtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>