<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qaii.dao.GovsubjectMapper">
  <resultMap id="BaseResultMap" type="com.qaii.domain.Govsubject">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="govsub_ApplyTime" jdbcType="VARCHAR" property="govsubApplytime" />
    <result column="govsub_Source" jdbcType="VARCHAR" property="govsubSource" />
    <result column="govsub_Level" jdbcType="VARCHAR" property="govsubLevel" />
    <result column="govsub_Name" jdbcType="VARCHAR" property="govsubName" />
    <result column="govsub_ImplementTime" jdbcType="VARCHAR" property="govsubImplementtime" />
    <result column="govsub_DutyUnit" jdbcType="VARCHAR" property="govsubDutyunit" />
    <result column="govsub_CooperationUnit" jdbcType="VARCHAR" property="govsubCooperationunit" />
    <result column="govsub_ManageDepart" jdbcType="VARCHAR" property="govsubManagedepart" />
    <result column="govsub_ApplyDepart" jdbcType="VARCHAR" property="govsubApplydepart" />
    <result column="govsub_AssumeDepart" jdbcType="VARCHAR" property="govsubAssumedepart" />
    <result column="govsub_ProjectPer" jdbcType="VARCHAR" property="govsubProjectper" />
    <result column="govsub_ProjectApproval" jdbcType="VARCHAR" property="govsubProjectapproval" />
    <result column="govsub_ApprovalNum" jdbcType="VARCHAR" property="govsubApprovalnum" />
    <result column="govsub_Subvention" jdbcType="VARCHAR" property="govsubSubvention" />
    <result column="govsub_FundTime" jdbcType="VARCHAR" property="govsubFundtime" />
    <result column="govsub_MiddleResult" jdbcType="VARCHAR" property="govsubMiddleresult" />
    <result column="govsub_YearResult" jdbcType="VARCHAR" property="govsubYearresult" />
    <result column="govsub_EndResult" jdbcType="VARCHAR" property="govsubEndresult" />
    <result column="govsub_Remark" jdbcType="VARCHAR" property="govsubRemark" />
    <result column="govsub_File" jdbcType="VARCHAR" property="govsubFile" />
    <result column="govsub_ApprovalTime" jdbcType="VARCHAR" property="govsubApprovaltime" />
    <result column="govsub_MiddleTime" jdbcType="VARCHAR" property="govsubMiddletime" />
    <result column="govsub_YearTime" jdbcType="VARCHAR" property="govsubYeartime" />
    <result column="govsub_EndTime" jdbcType="VARCHAR" property="govsubEndtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, govsub_ApplyTime, govsub_Source, govsub_Level, govsub_Name, govsub_ImplementTime, 
    govsub_DutyUnit, govsub_CooperationUnit, govsub_ManageDepart, govsub_ApplyDepart, 
    govsub_AssumeDepart, govsub_ProjectPer, govsub_ProjectApproval, govsub_ApprovalNum, 
    govsub_Subvention, govsub_FundTime, govsub_MiddleResult, govsub_YearResult, govsub_EndResult, 
    govsub_Remark, govsub_File, govsub_ApprovalTime, govsub_MiddleTime, govsub_YearTime, 
    govsub_EndTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sci_govsubject
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sci_govsubject
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qaii.domain.Govsubject">
    insert into sci_govsubject (id, govsub_ApplyTime, govsub_Source, 
      govsub_Level, govsub_Name, govsub_ImplementTime, 
      govsub_DutyUnit, govsub_CooperationUnit, 
      govsub_ManageDepart, govsub_ApplyDepart, 
      govsub_AssumeDepart, govsub_ProjectPer, govsub_ProjectApproval, 
      govsub_ApprovalNum, govsub_Subvention, govsub_FundTime, 
      govsub_MiddleResult, govsub_YearResult, govsub_EndResult, 
      govsub_Remark, govsub_File, govsub_ApprovalTime, 
      govsub_MiddleTime, govsub_YearTime, govsub_EndTime
      )
    values (#{id,jdbcType=INTEGER}, #{govsubApplytime,jdbcType=VARCHAR}, #{govsubSource,jdbcType=VARCHAR}, 
      #{govsubLevel,jdbcType=VARCHAR}, #{govsubName,jdbcType=VARCHAR}, #{govsubImplementtime,jdbcType=VARCHAR}, 
      #{govsubDutyunit,jdbcType=VARCHAR}, #{govsubCooperationunit,jdbcType=VARCHAR}, 
      #{govsubManagedepart,jdbcType=VARCHAR}, #{govsubApplydepart,jdbcType=VARCHAR}, 
      #{govsubAssumedepart,jdbcType=VARCHAR}, #{govsubProjectper,jdbcType=VARCHAR}, #{govsubProjectapproval,jdbcType=VARCHAR}, 
      #{govsubApprovalnum,jdbcType=VARCHAR}, #{govsubSubvention,jdbcType=VARCHAR}, #{govsubFundtime,jdbcType=VARCHAR}, 
      #{govsubMiddleresult,jdbcType=VARCHAR}, #{govsubYearresult,jdbcType=VARCHAR}, #{govsubEndresult,jdbcType=VARCHAR}, 
      #{govsubRemark,jdbcType=VARCHAR}, #{govsubFile,jdbcType=VARCHAR}, #{govsubApprovaltime,jdbcType=VARCHAR}, 
      #{govsubMiddletime,jdbcType=VARCHAR}, #{govsubYeartime,jdbcType=VARCHAR}, #{govsubEndtime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qaii.domain.Govsubject">
    insert into sci_govsubject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="govsubApplytime != null">
        govsub_ApplyTime,
      </if>
      <if test="govsubSource != null">
        govsub_Source,
      </if>
      <if test="govsubLevel != null">
        govsub_Level,
      </if>
      <if test="govsubName != null">
        govsub_Name,
      </if>
      <if test="govsubImplementtime != null">
        govsub_ImplementTime,
      </if>
      <if test="govsubDutyunit != null">
        govsub_DutyUnit,
      </if>
      <if test="govsubCooperationunit != null">
        govsub_CooperationUnit,
      </if>
      <if test="govsubManagedepart != null">
        govsub_ManageDepart,
      </if>
      <if test="govsubApplydepart != null">
        govsub_ApplyDepart,
      </if>
      <if test="govsubAssumedepart != null">
        govsub_AssumeDepart,
      </if>
      <if test="govsubProjectper != null">
        govsub_ProjectPer,
      </if>
      <if test="govsubProjectapproval != null">
        govsub_ProjectApproval,
      </if>
      <if test="govsubApprovalnum != null">
        govsub_ApprovalNum,
      </if>
      <if test="govsubSubvention != null">
        govsub_Subvention,
      </if>
      <if test="govsubFundtime != null">
        govsub_FundTime,
      </if>
      <if test="govsubMiddleresult != null">
        govsub_MiddleResult,
      </if>
      <if test="govsubYearresult != null">
        govsub_YearResult,
      </if>
      <if test="govsubEndresult != null">
        govsub_EndResult,
      </if>
      <if test="govsubRemark != null">
        govsub_Remark,
      </if>
      <if test="govsubFile != null">
        govsub_File,
      </if>
      <if test="govsubApprovaltime != null">
        govsub_ApprovalTime,
      </if>
      <if test="govsubMiddletime != null">
        govsub_MiddleTime,
      </if>
      <if test="govsubYeartime != null">
        govsub_YearTime,
      </if>
      <if test="govsubEndtime != null">
        govsub_EndTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="govsubApplytime != null">
        #{govsubApplytime,jdbcType=VARCHAR},
      </if>
      <if test="govsubSource != null">
        #{govsubSource,jdbcType=VARCHAR},
      </if>
      <if test="govsubLevel != null">
        #{govsubLevel,jdbcType=VARCHAR},
      </if>
      <if test="govsubName != null">
        #{govsubName,jdbcType=VARCHAR},
      </if>
      <if test="govsubImplementtime != null">
        #{govsubImplementtime,jdbcType=VARCHAR},
      </if>
      <if test="govsubDutyunit != null">
        #{govsubDutyunit,jdbcType=VARCHAR},
      </if>
      <if test="govsubCooperationunit != null">
        #{govsubCooperationunit,jdbcType=VARCHAR},
      </if>
      <if test="govsubManagedepart != null">
        #{govsubManagedepart,jdbcType=VARCHAR},
      </if>
      <if test="govsubApplydepart != null">
        #{govsubApplydepart,jdbcType=VARCHAR},
      </if>
      <if test="govsubAssumedepart != null">
        #{govsubAssumedepart,jdbcType=VARCHAR},
      </if>
      <if test="govsubProjectper != null">
        #{govsubProjectper,jdbcType=VARCHAR},
      </if>
      <if test="govsubProjectapproval != null">
        #{govsubProjectapproval,jdbcType=VARCHAR},
      </if>
      <if test="govsubApprovalnum != null">
        #{govsubApprovalnum,jdbcType=VARCHAR},
      </if>
      <if test="govsubSubvention != null">
        #{govsubSubvention,jdbcType=VARCHAR},
      </if>
      <if test="govsubFundtime != null">
        #{govsubFundtime,jdbcType=VARCHAR},
      </if>
      <if test="govsubMiddleresult != null">
        #{govsubMiddleresult,jdbcType=VARCHAR},
      </if>
      <if test="govsubYearresult != null">
        #{govsubYearresult,jdbcType=VARCHAR},
      </if>
      <if test="govsubEndresult != null">
        #{govsubEndresult,jdbcType=VARCHAR},
      </if>
      <if test="govsubRemark != null">
        #{govsubRemark,jdbcType=VARCHAR},
      </if>
      <if test="govsubFile != null">
        #{govsubFile,jdbcType=VARCHAR},
      </if>
      <if test="govsubApprovaltime != null">
        #{govsubApprovaltime,jdbcType=VARCHAR},
      </if>
      <if test="govsubMiddletime != null">
        #{govsubMiddletime,jdbcType=VARCHAR},
      </if>
      <if test="govsubYeartime != null">
        #{govsubYeartime,jdbcType=VARCHAR},
      </if>
      <if test="govsubEndtime != null">
        #{govsubEndtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qaii.domain.Govsubject">
    update sci_govsubject
    <set>
      <if test="govsubApplytime != null">
        govsub_ApplyTime = #{govsubApplytime,jdbcType=VARCHAR},
      </if>
      <if test="govsubSource != null">
        govsub_Source = #{govsubSource,jdbcType=VARCHAR},
      </if>
      <if test="govsubLevel != null">
        govsub_Level = #{govsubLevel,jdbcType=VARCHAR},
      </if>
      <if test="govsubName != null">
        govsub_Name = #{govsubName,jdbcType=VARCHAR},
      </if>
      <if test="govsubImplementtime != null">
        govsub_ImplementTime = #{govsubImplementtime,jdbcType=VARCHAR},
      </if>
      <if test="govsubDutyunit != null">
        govsub_DutyUnit = #{govsubDutyunit,jdbcType=VARCHAR},
      </if>
      <if test="govsubCooperationunit != null">
        govsub_CooperationUnit = #{govsubCooperationunit,jdbcType=VARCHAR},
      </if>
      <if test="govsubManagedepart != null">
        govsub_ManageDepart = #{govsubManagedepart,jdbcType=VARCHAR},
      </if>
      <if test="govsubApplydepart != null">
        govsub_ApplyDepart = #{govsubApplydepart,jdbcType=VARCHAR},
      </if>
      <if test="govsubAssumedepart != null">
        govsub_AssumeDepart = #{govsubAssumedepart,jdbcType=VARCHAR},
      </if>
      <if test="govsubProjectper != null">
        govsub_ProjectPer = #{govsubProjectper,jdbcType=VARCHAR},
      </if>
      <if test="govsubProjectapproval != null">
        govsub_ProjectApproval = #{govsubProjectapproval,jdbcType=VARCHAR},
      </if>
      <if test="govsubApprovalnum != null">
        govsub_ApprovalNum = #{govsubApprovalnum,jdbcType=VARCHAR},
      </if>
      <if test="govsubSubvention != null">
        govsub_Subvention = #{govsubSubvention,jdbcType=VARCHAR},
      </if>
      <if test="govsubFundtime != null">
        govsub_FundTime = #{govsubFundtime,jdbcType=VARCHAR},
      </if>
      <if test="govsubMiddleresult != null">
        govsub_MiddleResult = #{govsubMiddleresult,jdbcType=VARCHAR},
      </if>
      <if test="govsubYearresult != null">
        govsub_YearResult = #{govsubYearresult,jdbcType=VARCHAR},
      </if>
      <if test="govsubEndresult != null">
        govsub_EndResult = #{govsubEndresult,jdbcType=VARCHAR},
      </if>
      <if test="govsubRemark != null">
        govsub_Remark = #{govsubRemark,jdbcType=VARCHAR},
      </if>
      <if test="govsubFile != null">
        govsub_File = #{govsubFile,jdbcType=VARCHAR},
      </if>
      <if test="govsubApprovaltime != null">
        govsub_ApprovalTime = #{govsubApprovaltime,jdbcType=VARCHAR},
      </if>
      <if test="govsubMiddletime != null">
        govsub_MiddleTime = #{govsubMiddletime,jdbcType=VARCHAR},
      </if>
      <if test="govsubYeartime != null">
        govsub_YearTime = #{govsubYeartime,jdbcType=VARCHAR},
      </if>
      <if test="govsubEndtime != null">
        govsub_EndTime = #{govsubEndtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qaii.domain.Govsubject">
    update sci_govsubject
    set govsub_ApplyTime = #{govsubApplytime,jdbcType=VARCHAR},
      govsub_Source = #{govsubSource,jdbcType=VARCHAR},
      govsub_Level = #{govsubLevel,jdbcType=VARCHAR},
      govsub_Name = #{govsubName,jdbcType=VARCHAR},
      govsub_ImplementTime = #{govsubImplementtime,jdbcType=VARCHAR},
      govsub_DutyUnit = #{govsubDutyunit,jdbcType=VARCHAR},
      govsub_CooperationUnit = #{govsubCooperationunit,jdbcType=VARCHAR},
      govsub_ManageDepart = #{govsubManagedepart,jdbcType=VARCHAR},
      govsub_ApplyDepart = #{govsubApplydepart,jdbcType=VARCHAR},
      govsub_AssumeDepart = #{govsubAssumedepart,jdbcType=VARCHAR},
      govsub_ProjectPer = #{govsubProjectper,jdbcType=VARCHAR},
      govsub_ProjectApproval = #{govsubProjectapproval,jdbcType=VARCHAR},
      govsub_ApprovalNum = #{govsubApprovalnum,jdbcType=VARCHAR},
      govsub_Subvention = #{govsubSubvention,jdbcType=VARCHAR},
      govsub_FundTime = #{govsubFundtime,jdbcType=VARCHAR},
      govsub_MiddleResult = #{govsubMiddleresult,jdbcType=VARCHAR},
      govsub_YearResult = #{govsubYearresult,jdbcType=VARCHAR},
      govsub_EndResult = #{govsubEndresult,jdbcType=VARCHAR},
      govsub_Remark = #{govsubRemark,jdbcType=VARCHAR},
      govsub_File = #{govsubFile,jdbcType=VARCHAR},
      govsub_ApprovalTime = #{govsubApprovaltime,jdbcType=VARCHAR},
      govsub_MiddleTime = #{govsubMiddletime,jdbcType=VARCHAR},
      govsub_YearTime = #{govsubYeartime,jdbcType=VARCHAR},
      govsub_EndTime = #{govsubEndtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getAllSubjectMsg" resultMap="BaseResultMap">SELECT * from sci_govsubject</select>
  <delete id="deleteByPrimaryKeys" parameterType="int">
    DELETE  FROM sci_govsubject WHERE id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id,jdbcType=INTEGER}
        </foreach>
  </delete>
  <select id="listByNum" resultMap="BaseResultMap" parameterType="int">
    SELECT * FROM sci_govsubject ORDER BY govsub_Subvention DESC LIMIT #{0}
  </select>
</mapper>