<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qaii.dao.IncubatorPersonMapper">
  <resultMap id="BaseResultMap" type="com.qaii.domain.IncubatorPerson">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="personal_name" jdbcType="VARCHAR" property="personalName" />
    <result column="job_position" jdbcType="VARCHAR" property="jobPosition" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, personal_name, job_position, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from industry_incutabor_person
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from industry_incutabor_person
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qaii.domain.IncubatorPerson">
    insert into industry_incutabor_person (id, personal_name, job_position, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{personalName,jdbcType=VARCHAR}, #{jobPosition,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qaii.domain.IncubatorPerson">
    insert into industry_incutabor_person
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="personalName != null">
        personal_name,
      </if>
      <if test="jobPosition != null">
        job_position,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="personalName != null">
        #{personalName,jdbcType=VARCHAR},
      </if>
      <if test="jobPosition != null">
        #{jobPosition,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qaii.domain.IncubatorPerson">
    update industry_incutabor_person
    <set>
      <if test="personalName != null">
        personal_name = #{personalName,jdbcType=VARCHAR},
      </if>
      <if test="jobPosition != null">
        job_position = #{jobPosition,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qaii.domain.IncubatorPerson">
    update industry_incutabor_person
    set personal_name = #{personalName,jdbcType=VARCHAR},
      job_position = #{jobPosition,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="listRecords" resultMap="BaseResultMap" >
    select  * from  industry_incutabor_person
  </select>
  <delete id="deleteRecord" parameterType="java.lang.Integer" lang="">
    delete from industry_incutabor_person where  id in
    <foreach collection="array" open="(" separator="," close=")" item="id">
      #{id,jdbcType=INTEGER}
    </foreach>
  </delete>
</mapper>