<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qaii.dao.IndustryExchangeTalksMapper">
  <resultMap id="BaseResultMap" type="com.qaii.domain.IndustryExchangeTalks">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Participant" jdbcType="VARCHAR" property="participant" />
    <result column="Target_audience" jdbcType="VARCHAR" property="targetAudience" />
    <result column="Theme_talks" jdbcType="VARCHAR" property="themeTalks" />
    <result column="Talks_address" jdbcType="VARCHAR" property="talksAddress" />
    <result column="Talks_time" jdbcType="VARCHAR" property="talksTime" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
    <result column="Create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="Modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>

  <resultMap id="CustomMap" type="com.qaii.domain.IndustryExchangeTalks">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Participant" jdbcType="VARCHAR" property="participant" />
    <result column="Target_audience" jdbcType="VARCHAR" property="targetAudience" />
    <result column="Theme_talks" jdbcType="VARCHAR" property="themeTalks" />
    <result column="Talks_address" jdbcType="VARCHAR" property="talksAddress" />
    <result column="Talks_time" jdbcType="VARCHAR" property="talksTime" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
    <result column="Create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="Modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <collection property="listFile" javaType="java.util.List" ofType="com.qaii.domain.IndustryExchangeTalksFiles">
      <id column="fileid" jdbcType="INTEGER" property="id" />
      <id column="File_name" jdbcType="VARCHAR" property="fileName" />
      <id column="File_path" jdbcType="VARCHAR" property="filePath" />
      <id column="File_describtion" jdbcType="VARCHAR" property="fileDescribtion" />
      <id column="File_createtime" jdbcType="TIMESTAMP" property="fileCreatetime" />
      <id column="File_modifytime" jdbcType="TIMESTAMP" property="fileModifytime" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    Id, Participant, Target_audience, Theme_talks, Talks_address, Talks_time, Remark, 
    Create_time, Modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from industry_ExchangeTalks
    where Id = #{id,jdbcType=INTEGER}
  </select>

  <select id="listRecords"  resultMap="BaseResultMap">
    select * from industry_ExchangeTalks
  </select>

  <select id="getRecords" resultMap="CustomMap" parameterType="java.lang.Integer">
    select a.*, b.id AS fileid, b.File_name, b.File_path FROM industry_ExchangeTalks as a
    LEFT JOIN industry_ExchangeTalksFiles as b on a.id=b.ExchangeTalks_id
    WHERE a.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from industry_ExchangeTalks
    where Id in
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id,jdbcType=INTEGER}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.qaii.domain.IndustryExchangeTalks">
    insert into industry_ExchangeTalks (Id, Participant, Target_audience, 
      Theme_talks, Talks_address, Talks_time, 
      Remark, Create_time, Modify_time
      )
    values (#{id,jdbcType=INTEGER}, #{participant,jdbcType=VARCHAR}, #{targetAudience,jdbcType=VARCHAR}, 
      #{themeTalks,jdbcType=VARCHAR}, #{talksAddress,jdbcType=VARCHAR}, #{talksTime,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qaii.domain.IndustryExchangeTalks" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into industry_ExchangeTalks
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="participant != null">
        Participant,
      </if>
      <if test="targetAudience != null">
        Target_audience,
      </if>
      <if test="themeTalks != null">
        Theme_talks,
      </if>
      <if test="talksAddress != null">
        Talks_address,
      </if>
      <if test="talksTime != null">
        Talks_time,
      </if>
      <if test="remark != null">
        Remark,
      </if>
      <if test="createTime != null">
        Create_time,
      </if>
      <if test="modifyTime != null">
        Modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="participant != null">
        #{participant,jdbcType=VARCHAR},
      </if>
      <if test="targetAudience != null">
        #{targetAudience,jdbcType=VARCHAR},
      </if>
      <if test="themeTalks != null">
        #{themeTalks,jdbcType=VARCHAR},
      </if>
      <if test="talksAddress != null">
        #{talksAddress,jdbcType=VARCHAR},
      </if>
      <if test="talksTime != null">
        #{talksTime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qaii.domain.IndustryExchangeTalks">
    update industry_ExchangeTalks
    <set>
      <if test="participant != null">
        Participant = #{participant,jdbcType=VARCHAR},
      </if>
      <if test="targetAudience != null">
        Target_audience = #{targetAudience,jdbcType=VARCHAR},
      </if>
      <if test="themeTalks != null">
        Theme_talks = #{themeTalks,jdbcType=VARCHAR},
      </if>
      <if test="talksAddress != null">
        Talks_address = #{talksAddress,jdbcType=VARCHAR},
      </if>
      <if test="talksTime != null">
        Talks_time = #{talksTime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        Create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        Modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qaii.domain.IndustryExchangeTalks">
    update industry_ExchangeTalks
    set Participant = #{participant,jdbcType=VARCHAR},
      Target_audience = #{targetAudience,jdbcType=VARCHAR},
      Theme_talks = #{themeTalks,jdbcType=VARCHAR},
      Talks_address = #{talksAddress,jdbcType=VARCHAR},
      Talks_time = #{talksTime,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR},
      Create_time = #{createTime,jdbcType=TIMESTAMP},
      Modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>