<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qaii.dao.PatentMapper">
  <resultMap id="BaseResultMap" type="com.qaii.domain.Patent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pat_Dept" jdbcType="VARCHAR" property="patDept" />
    <result column="pat_Code" jdbcType="VARCHAR" property="patCode" />
    <result column="pat_Type" jdbcType="VARCHAR" property="patType" />
    <result column="pat_Name" jdbcType="VARCHAR" property="patName" />
    <result column="pat_Digest" jdbcType="VARCHAR" property="patDigest" />
    <result column="pat_Author" jdbcType="VARCHAR" property="patAuthor" />
    <result column="pat_ApplyPer" jdbcType="VARCHAR" property="patApplyper" />
    <result column="pat_TellTime" jdbcType="VARCHAR" property="patTelltime" />
    <result column="pat_Agency" jdbcType="VARCHAR" property="patAgency" />
    <result column="pat_PrePublishAudit" jdbcType="VARCHAR" property="patPrepublishaudit" />
    <result column="pat_ApplyNum" jdbcType="VARCHAR" property="patApplynum" />
    <result column="pat_ApplyTime" jdbcType="VARCHAR" property="patApplytime" />
    <result column="pat_PublishNum" jdbcType="VARCHAR" property="patPublishnum" />
    <result column="pat_PublishTime" jdbcType="VARCHAR" property="patPublishtime" />
    <result column="pat_AuthorzationTime" jdbcType="VARCHAR" property="patAuthorzationtime" />
    <result column="pat_Remission" jdbcType="VARCHAR" property="patRemission" />
    <result column="pat_Cost" jdbcType="VARCHAR" property="patCost" />
    <result column="pat_InvoicePer" jdbcType="VARCHAR" property="patInvoiceper" />
    <result column="pat_Remark" jdbcType="VARCHAR" property="patRemark" />
    <result column="pat_Penner" jdbcType="VARCHAR" property="patPenner" />
    <result column="pat_Agent" jdbcType="VARCHAR" property="patAgent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pat_Dept, pat_Code, pat_Type, pat_Name, pat_Digest, pat_Author, pat_ApplyPer, 
    pat_TellTime, pat_Agency, pat_PrePublishAudit, pat_ApplyNum, pat_ApplyTime, pat_PublishNum, 
    pat_PublishTime, pat_AuthorzationTime, pat_Remission, pat_Cost, pat_InvoicePer, pat_Remark, 
    pat_Penner, pat_Agent
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sci_patent
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sci_patent
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qaii.domain.Patent">
    insert into sci_patent (id, pat_Dept, pat_Code, 
      pat_Type, pat_Name, pat_Digest, 
      pat_Author, pat_ApplyPer, pat_TellTime, 
      pat_Agency, pat_PrePublishAudit, pat_ApplyNum, 
      pat_ApplyTime, pat_PublishNum, pat_PublishTime, 
      pat_AuthorzationTime, pat_Remission, pat_Cost, 
      pat_InvoicePer, pat_Remark, pat_Penner, 
      pat_Agent)
    values (#{id,jdbcType=INTEGER}, #{patDept,jdbcType=VARCHAR}, #{patCode,jdbcType=VARCHAR}, 
      #{patType,jdbcType=VARCHAR}, #{patName,jdbcType=VARCHAR}, #{patDigest,jdbcType=VARCHAR}, 
      #{patAuthor,jdbcType=VARCHAR}, #{patApplyper,jdbcType=VARCHAR}, #{patTelltime,jdbcType=VARCHAR}, 
      #{patAgency,jdbcType=VARCHAR}, #{patPrepublishaudit,jdbcType=VARCHAR}, #{patApplynum,jdbcType=VARCHAR}, 
      #{patApplytime,jdbcType=VARCHAR}, #{patPublishnum,jdbcType=VARCHAR}, #{patPublishtime,jdbcType=VARCHAR}, 
      #{patAuthorzationtime,jdbcType=VARCHAR}, #{patRemission,jdbcType=VARCHAR}, #{patCost,jdbcType=VARCHAR}, 
      #{patInvoiceper,jdbcType=VARCHAR}, #{patRemark,jdbcType=VARCHAR}, #{patPenner,jdbcType=VARCHAR}, 
      #{patAgent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qaii.domain.Patent">
    insert into sci_patent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="patDept != null">
        pat_Dept,
      </if>
      <if test="patCode != null">
        pat_Code,
      </if>
      <if test="patType != null">
        pat_Type,
      </if>
      <if test="patName != null">
        pat_Name,
      </if>
      <if test="patDigest != null">
        pat_Digest,
      </if>
      <if test="patAuthor != null">
        pat_Author,
      </if>
      <if test="patApplyper != null">
        pat_ApplyPer,
      </if>
      <if test="patTelltime != null">
        pat_TellTime,
      </if>
      <if test="patAgency != null">
        pat_Agency,
      </if>
      <if test="patPrepublishaudit != null">
        pat_PrePublishAudit,
      </if>
      <if test="patApplynum != null">
        pat_ApplyNum,
      </if>
      <if test="patApplytime != null">
        pat_ApplyTime,
      </if>
      <if test="patPublishnum != null">
        pat_PublishNum,
      </if>
      <if test="patPublishtime != null">
        pat_PublishTime,
      </if>
      <if test="patAuthorzationtime != null">
        pat_AuthorzationTime,
      </if>
      <if test="patRemission != null">
        pat_Remission,
      </if>
      <if test="patCost != null">
        pat_Cost,
      </if>
      <if test="patInvoiceper != null">
        pat_InvoicePer,
      </if>
      <if test="patRemark != null">
        pat_Remark,
      </if>
      <if test="patPenner != null">
        pat_Penner,
      </if>
      <if test="patAgent != null">
        pat_Agent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="patDept != null">
        #{patDept,jdbcType=VARCHAR},
      </if>
      <if test="patCode != null">
        #{patCode,jdbcType=VARCHAR},
      </if>
      <if test="patType != null">
        #{patType,jdbcType=VARCHAR},
      </if>
      <if test="patName != null">
        #{patName,jdbcType=VARCHAR},
      </if>
      <if test="patDigest != null">
        #{patDigest,jdbcType=VARCHAR},
      </if>
      <if test="patAuthor != null">
        #{patAuthor,jdbcType=VARCHAR},
      </if>
      <if test="patApplyper != null">
        #{patApplyper,jdbcType=VARCHAR},
      </if>
      <if test="patTelltime != null">
        #{patTelltime,jdbcType=VARCHAR},
      </if>
      <if test="patAgency != null">
        #{patAgency,jdbcType=VARCHAR},
      </if>
      <if test="patPrepublishaudit != null">
        #{patPrepublishaudit,jdbcType=VARCHAR},
      </if>
      <if test="patApplynum != null">
        #{patApplynum,jdbcType=VARCHAR},
      </if>
      <if test="patApplytime != null">
        #{patApplytime,jdbcType=VARCHAR},
      </if>
      <if test="patPublishnum != null">
        #{patPublishnum,jdbcType=VARCHAR},
      </if>
      <if test="patPublishtime != null">
        #{patPublishtime,jdbcType=VARCHAR},
      </if>
      <if test="patAuthorzationtime != null">
        #{patAuthorzationtime,jdbcType=VARCHAR},
      </if>
      <if test="patRemission != null">
        #{patRemission,jdbcType=VARCHAR},
      </if>
      <if test="patCost != null">
        #{patCost,jdbcType=VARCHAR},
      </if>
      <if test="patInvoiceper != null">
        #{patInvoiceper,jdbcType=VARCHAR},
      </if>
      <if test="patRemark != null">
        #{patRemark,jdbcType=VARCHAR},
      </if>
      <if test="patPenner != null">
        #{patPenner,jdbcType=VARCHAR},
      </if>
      <if test="patAgent != null">
        #{patAgent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qaii.domain.Patent">
    update sci_patent
    <set>
      <if test="patDept != null">
        pat_Dept = #{patDept,jdbcType=VARCHAR},
      </if>
      <if test="patCode != null">
        pat_Code = #{patCode,jdbcType=VARCHAR},
      </if>
      <if test="patType != null">
        pat_Type = #{patType,jdbcType=VARCHAR},
      </if>
      <if test="patName != null">
        pat_Name = #{patName,jdbcType=VARCHAR},
      </if>
      <if test="patDigest != null">
        pat_Digest = #{patDigest,jdbcType=VARCHAR},
      </if>
      <if test="patAuthor != null">
        pat_Author = #{patAuthor,jdbcType=VARCHAR},
      </if>
      <if test="patApplyper != null">
        pat_ApplyPer = #{patApplyper,jdbcType=VARCHAR},
      </if>
      <if test="patTelltime != null">
        pat_TellTime = #{patTelltime,jdbcType=VARCHAR},
      </if>
      <if test="patAgency != null">
        pat_Agency = #{patAgency,jdbcType=VARCHAR},
      </if>
      <if test="patPrepublishaudit != null">
        pat_PrePublishAudit = #{patPrepublishaudit,jdbcType=VARCHAR},
      </if>
      <if test="patApplynum != null">
        pat_ApplyNum = #{patApplynum,jdbcType=VARCHAR},
      </if>
      <if test="patApplytime != null">
        pat_ApplyTime = #{patApplytime,jdbcType=VARCHAR},
      </if>
      <if test="patPublishnum != null">
        pat_PublishNum = #{patPublishnum,jdbcType=VARCHAR},
      </if>
      <if test="patPublishtime != null">
        pat_PublishTime = #{patPublishtime,jdbcType=VARCHAR},
      </if>
      <if test="patAuthorzationtime != null">
        pat_AuthorzationTime = #{patAuthorzationtime,jdbcType=VARCHAR},
      </if>
      <if test="patRemission != null">
        pat_Remission = #{patRemission,jdbcType=VARCHAR},
      </if>
      <if test="patCost != null">
        pat_Cost = #{patCost,jdbcType=VARCHAR},
      </if>
      <if test="patInvoiceper != null">
        pat_InvoicePer = #{patInvoiceper,jdbcType=VARCHAR},
      </if>
      <if test="patRemark != null">
        pat_Remark = #{patRemark,jdbcType=VARCHAR},
      </if>
      <if test="patPenner != null">
        pat_Penner = #{patPenner,jdbcType=VARCHAR},
      </if>
      <if test="patAgent != null">
        pat_Agent = #{patAgent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qaii.domain.Patent">
    update sci_patent
    set pat_Dept = #{patDept,jdbcType=VARCHAR},
      pat_Code = #{patCode,jdbcType=VARCHAR},
      pat_Type = #{patType,jdbcType=VARCHAR},
      pat_Name = #{patName,jdbcType=VARCHAR},
      pat_Digest = #{patDigest,jdbcType=VARCHAR},
      pat_Author = #{patAuthor,jdbcType=VARCHAR},
      pat_ApplyPer = #{patApplyper,jdbcType=VARCHAR},
      pat_TellTime = #{patTelltime,jdbcType=VARCHAR},
      pat_Agency = #{patAgency,jdbcType=VARCHAR},
      pat_PrePublishAudit = #{patPrepublishaudit,jdbcType=VARCHAR},
      pat_ApplyNum = #{patApplynum,jdbcType=VARCHAR},
      pat_ApplyTime = #{patApplytime,jdbcType=VARCHAR},
      pat_PublishNum = #{patPublishnum,jdbcType=VARCHAR},
      pat_PublishTime = #{patPublishtime,jdbcType=VARCHAR},
      pat_AuthorzationTime = #{patAuthorzationtime,jdbcType=VARCHAR},
      pat_Remission = #{patRemission,jdbcType=VARCHAR},
      pat_Cost = #{patCost,jdbcType=VARCHAR},
      pat_InvoicePer = #{patInvoiceper,jdbcType=VARCHAR},
      pat_Remark = #{patRemark,jdbcType=VARCHAR},
      pat_Penner = #{patPenner,jdbcType=VARCHAR},
      pat_Agent = #{patAgent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>