<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qaii.dao.SoftwarecopyrightMapper">
  <resultMap id="BaseResultMap" type="com.qaii.domain.Softwarecopyright">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="soft_Dept" jdbcType="VARCHAR" property="softDept" />
    <result column="soft_Code" jdbcType="VARCHAR" property="softCode" />
    <result column="soft_Name" jdbcType="VARCHAR" property="softName" />
    <result column="soft_Writer" jdbcType="VARCHAR" property="softWriter" />
    <result column="soft_Author" jdbcType="VARCHAR" property="softAuthor" />
    <result column="soft_Agency" jdbcType="VARCHAR" property="softAgency" />
    <result column="soft_DevelopEndTime" jdbcType="VARCHAR" property="softDevelopendtime" />
    <result column="soft_FirstPublishTime" jdbcType="VARCHAR" property="softFirstpublishtime" />
    <result column="soft_Num" jdbcType="VARCHAR" property="softNum" />
    <result column="soft_CertificateTime" jdbcType="VARCHAR" property="softCertificatetime" />
    <result column="soft_Cost" jdbcType="VARCHAR" property="softCost" />
    <result column="soft_InvoicePer" jdbcType="VARCHAR" property="softInvoiceper" />
    <result column="soft_UpdateTime" jdbcType="VARCHAR" property="softUpdatetime" />
    <result column="soft_Remark" jdbcType="VARCHAR" property="softRemark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, soft_Dept, soft_Code, soft_Name, soft_Writer, soft_Author, soft_Agency, soft_DevelopEndTime, 
    soft_FirstPublishTime, soft_Num, soft_CertificateTime, soft_Cost, soft_InvoicePer, 
    soft_UpdateTime, soft_Remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sci_softwarecopyright
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sci_softwarecopyright
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qaii.domain.Softwarecopyright">
    insert into sci_softwarecopyright (id, soft_Dept, soft_Code, 
      soft_Name, soft_Writer, soft_Author, 
      soft_Agency, soft_DevelopEndTime, soft_FirstPublishTime, 
      soft_Num, soft_CertificateTime, soft_Cost, 
      soft_InvoicePer, soft_UpdateTime, soft_Remark
      )
    values (#{id,jdbcType=INTEGER}, #{softDept,jdbcType=VARCHAR}, #{softCode,jdbcType=VARCHAR}, 
      #{softName,jdbcType=VARCHAR}, #{softWriter,jdbcType=VARCHAR}, #{softAuthor,jdbcType=VARCHAR}, 
      #{softAgency,jdbcType=VARCHAR}, #{softDevelopendtime,jdbcType=VARCHAR}, #{softFirstpublishtime,jdbcType=VARCHAR}, 
      #{softNum,jdbcType=VARCHAR}, #{softCertificatetime,jdbcType=VARCHAR}, #{softCost,jdbcType=VARCHAR}, 
      #{softInvoiceper,jdbcType=VARCHAR}, #{softUpdatetime,jdbcType=VARCHAR}, #{softRemark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qaii.domain.Softwarecopyright">
    insert into sci_softwarecopyright
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="softDept != null">
        soft_Dept,
      </if>
      <if test="softCode != null">
        soft_Code,
      </if>
      <if test="softName != null">
        soft_Name,
      </if>
      <if test="softWriter != null">
        soft_Writer,
      </if>
      <if test="softAuthor != null">
        soft_Author,
      </if>
      <if test="softAgency != null">
        soft_Agency,
      </if>
      <if test="softDevelopendtime != null">
        soft_DevelopEndTime,
      </if>
      <if test="softFirstpublishtime != null">
        soft_FirstPublishTime,
      </if>
      <if test="softNum != null">
        soft_Num,
      </if>
      <if test="softCertificatetime != null">
        soft_CertificateTime,
      </if>
      <if test="softCost != null">
        soft_Cost,
      </if>
      <if test="softInvoiceper != null">
        soft_InvoicePer,
      </if>
      <if test="softUpdatetime != null">
        soft_UpdateTime,
      </if>
      <if test="softRemark != null">
        soft_Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="softDept != null">
        #{softDept,jdbcType=VARCHAR},
      </if>
      <if test="softCode != null">
        #{softCode,jdbcType=VARCHAR},
      </if>
      <if test="softName != null">
        #{softName,jdbcType=VARCHAR},
      </if>
      <if test="softWriter != null">
        #{softWriter,jdbcType=VARCHAR},
      </if>
      <if test="softAuthor != null">
        #{softAuthor,jdbcType=VARCHAR},
      </if>
      <if test="softAgency != null">
        #{softAgency,jdbcType=VARCHAR},
      </if>
      <if test="softDevelopendtime != null">
        #{softDevelopendtime,jdbcType=VARCHAR},
      </if>
      <if test="softFirstpublishtime != null">
        #{softFirstpublishtime,jdbcType=VARCHAR},
      </if>
      <if test="softNum != null">
        #{softNum,jdbcType=VARCHAR},
      </if>
      <if test="softCertificatetime != null">
        #{softCertificatetime,jdbcType=VARCHAR},
      </if>
      <if test="softCost != null">
        #{softCost,jdbcType=VARCHAR},
      </if>
      <if test="softInvoiceper != null">
        #{softInvoiceper,jdbcType=VARCHAR},
      </if>
      <if test="softUpdatetime != null">
        #{softUpdatetime,jdbcType=VARCHAR},
      </if>
      <if test="softRemark != null">
        #{softRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qaii.domain.Softwarecopyright">
    update sci_softwarecopyright
    <set>
      <if test="softDept != null">
        soft_Dept = #{softDept,jdbcType=VARCHAR},
      </if>
      <if test="softCode != null">
        soft_Code = #{softCode,jdbcType=VARCHAR},
      </if>
      <if test="softName != null">
        soft_Name = #{softName,jdbcType=VARCHAR},
      </if>
      <if test="softWriter != null">
        soft_Writer = #{softWriter,jdbcType=VARCHAR},
      </if>
      <if test="softAuthor != null">
        soft_Author = #{softAuthor,jdbcType=VARCHAR},
      </if>
      <if test="softAgency != null">
        soft_Agency = #{softAgency,jdbcType=VARCHAR},
      </if>
      <if test="softDevelopendtime != null">
        soft_DevelopEndTime = #{softDevelopendtime,jdbcType=VARCHAR},
      </if>
      <if test="softFirstpublishtime != null">
        soft_FirstPublishTime = #{softFirstpublishtime,jdbcType=VARCHAR},
      </if>
      <if test="softNum != null">
        soft_Num = #{softNum,jdbcType=VARCHAR},
      </if>
      <if test="softCertificatetime != null">
        soft_CertificateTime = #{softCertificatetime,jdbcType=VARCHAR},
      </if>
      <if test="softCost != null">
        soft_Cost = #{softCost,jdbcType=VARCHAR},
      </if>
      <if test="softInvoiceper != null">
        soft_InvoicePer = #{softInvoiceper,jdbcType=VARCHAR},
      </if>
      <if test="softUpdatetime != null">
        soft_UpdateTime = #{softUpdatetime,jdbcType=VARCHAR},
      </if>
      <if test="softRemark != null">
        soft_Remark = #{softRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qaii.domain.Softwarecopyright">
    update sci_softwarecopyright
    set soft_Dept = #{softDept,jdbcType=VARCHAR},
      soft_Code = #{softCode,jdbcType=VARCHAR},
      soft_Name = #{softName,jdbcType=VARCHAR},
      soft_Writer = #{softWriter,jdbcType=VARCHAR},
      soft_Author = #{softAuthor,jdbcType=VARCHAR},
      soft_Agency = #{softAgency,jdbcType=VARCHAR},
      soft_DevelopEndTime = #{softDevelopendtime,jdbcType=VARCHAR},
      soft_FirstPublishTime = #{softFirstpublishtime,jdbcType=VARCHAR},
      soft_Num = #{softNum,jdbcType=VARCHAR},
      soft_CertificateTime = #{softCertificatetime,jdbcType=VARCHAR},
      soft_Cost = #{softCost,jdbcType=VARCHAR},
      soft_InvoicePer = #{softInvoiceper,jdbcType=VARCHAR},
      soft_UpdateTime = #{softUpdatetime,jdbcType=VARCHAR},
      soft_Remark = #{softRemark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>